{% set body_class = "advicemasters-page" %}
{% extends "./_layout.html" %}
{% block content %}

<main class="advicemasters-main">

  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/">Home</a>
      </li>
      <li class="pagination__item">
        <a href="">advice for masters</a>
      </li>
      <li class="pagination__item">
        <a href="">trends</a>
      </li>
    </ul>
  </div>

  <div class="advicemasters-hero-fluid">
    <div class="advicemasters-hero-centered">
      <div class="advicemasters-hero-title">
        onrial beauty blog
      </div>
      <div class="advicemasters-hero-slider-wrapper">
        <div class="advicemasters-hero-slider-arrows">
          <div class="slick-prev">
            <img src="/images/arrow-prev.svg" alt="img">
          </div>
          <div class="slick-next">
            <img src="/images/arrow-next.svg" alt="img">
          </div>
        </div>
        <div class="advicemasters-hero-slider">
          <div class="advicemasters-hero-slider-item">
            <a href="/" class="advicemasters-hero-slider-item-inner">
              <div class="advicemasters-hero-slider-item-img">
                <img src="/images/img18.jpg" alt="img">
              </div>
              <div class="advicemasters-hero-slider-item-overlay"></div>
              <div class="advicemasters-hero-slider-item-text">
                Trends
              </div>
            </a>
          </div>
          <div class="advicemasters-hero-slider-item">
            <a href="/" class="advicemasters-hero-slider-item-inner">
              <div class="advicemasters-hero-slider-item-img">
                <img src="/images/img19.jpg" alt="img">
              </div>
              <div class="advicemasters-hero-slider-item-overlay"></div>
              <div class="advicemasters-hero-slider-item-text">
                tutorials
              </div>
            </a>
          </div>
          <div class="advicemasters-hero-slider-item">
            <a href="/" class="advicemasters-hero-slider-item-inner">
              <div class="advicemasters-hero-slider-item-img">
                <img src="/images/img20.jpg" alt="img">
              </div>
              <div class="advicemasters-hero-slider-item-overlay"></div>
              <div class="advicemasters-hero-slider-item-text">
                Tips & Tricks
              </div>
            </a>
          </div>
          <div class="advicemasters-hero-slider-item">
            <a href="/" class="advicemasters-hero-slider-item-inner">
              <div class="advicemasters-hero-slider-item-img">
                <img src="/images/img19.jpg" alt="img">
              </div>
              <div class="advicemasters-hero-slider-item-overlay"></div>
              <div class="advicemasters-hero-slider-item-text">
                tutorials
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="advicemasters-trends-fluid">
    <div class="advicemasters-trends-center">
      <div class="advicemasters-trends-title">
        Trends
      </div>
      <div class="advicemasters-trends-container">
        <a href="/" class="advicemasters-trends-item">
          <div class="advicemasters-trends-item-img">
            <img src="/images/img21.jpg" alt="img">
          </div>
          <div class="advicemasters-trends-item-date">
            08/09/2022
          </div>
          <div class="advicemasters-trends-item-description">
            Lorem ipsum dolor sit amet consectetur.
          </div>
        </a>
        <a href="/" class="advicemasters-trends-item">
          <div class="advicemasters-trends-item-img">
            <img src="/images/img22.jpg" alt="img">
          </div>
          <div class="advicemasters-trends-item-date">
            08/09/2022
          </div>
          <div class="advicemasters-trends-item-description">
            Lorem ipsum dolor sit amet consectetur. Magna eget dui id interdum sagittis eget.
          </div>
        </a>
        <a href="/" class="advicemasters-trends-item">
          <div class="advicemasters-trends-item-img">
            <img src="/images/img23.jpg" alt="img">
          </div>
          <div class="advicemasters-trends-item-date">
            08/09/2022
          </div>
          <div class="advicemasters-trends-item-description">
            Lorem ipsum dolor sit amet consectetur. Magna eget dui id interdum sagittis eget.
          </div>
        </a>
        <a href="/" class="advicemasters-trends-item">
          <div class="advicemasters-trends-item-img">
            <img src="/images/img24.jpg" alt="img">
          </div>
          <div class="advicemasters-trends-item-date">
            08/09/2022
          </div>
          <div class="advicemasters-trends-item-description">
            Lorem ipsum dolor sit amet consectetur. Magna eget dui id interdum sagittis eget.
          </div>
        </a>
        <a href="/" class="advicemasters-trends-item">
          <div class="advicemasters-trends-item-img">
            <img src="/images/img25.jpg" alt="img">
          </div>
          <div class="advicemasters-trends-item-date">
            08/09/2022
          </div>
          <div class="advicemasters-trends-item-description">
            Lorem ipsum dolor sit amet consectetur. Magna eget dui id interdum sagittis eget.
          </div>
        </a>
      </div>
    </div>
  </div>

  <section class="follow">
    <div class="follow__container">
      <p class="follow__title">follow us at</p>
      <a href="" class="follow__button_arrow button_arrow">@ONRIAL
        <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 8L45 8" stroke="#424242" />
          <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
        </svg>
        <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9L24.887 9" stroke="#424242" />
          <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
        </svg>
      </a>
    </div>
    <div class="follow-slider__slider-container">
      <!-- <div class="swiper-button-prev swiper-about-button-prev"></div>
      <div class="swiper-button-next swiper-about-button-next"></div> -->
      <div class="follow-slider__slider swiper js_follow-slider">
        <ul class="follow-slider__list swiper-wrapper">
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_1.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_2.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_3.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_4.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_5.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_6.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_7.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
        </ul>
        <!-- <div class="swiper-scrollbar about-swiper-scrollbar"></div> -->
      </div>
    </div>
  </section>

</main>

{% endblock %}
