{% set body_class = "advice-page" %} {% extends "./_layout.html" %} {% block
content %}

<main class="advice-page">
  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/">Home</a>
      </li>
      <li class="pagination__item">
        <a href="">advice for masters</a>
      </li>
      <li class="pagination__item">
        <a href="">trends</a>
      </li>
    </ul>
  </div>
  <section class="advice">
    <div class="advice__container">
      <h1 class="primary">
        Lorem ipsum dolor sit amet consectetur.Lorem ipsum dolor sit amet
      </h1>
      <img
        src="./images/advice-page/advice.jpg"
        alt="advice image"
        class="advice__image"
      />
      <p class="advice__description">
        Lorem ipsum dolor sit amet consectetur. Turpis pharetra lobortis nisi
        pretium ut turpis tristique quam. Nunc ultricies mi non vitae convallis
        sed at. Malesuada sit porttitor aliquet felis. Gravida lacus nibh
        fringilla rhoncus duis sit dolor nunc suspendisse. Mattis orci leo
        ultrices sollicitudin ridiculus libero quis dictum. Ridiculus senectus
        amet orci bibendum imperdiet vel dignissim. Lorem ipsum dolor sit amet
        consectetur. Turpis pharetra lobortis nisi pretium ut turpis tristique
        quam. Nunc ultricies mi non vitae convallis sed at. Malesuada sit
        porttitor aliquet felis. Gravida lacus nibh fringilla rhoncus duis sit
        dolor nunc suspendisse. Mattis orci leo ultrices sollicitudin ridiculus
        libero quis dictum. Ridiculus senectus amet orci bibendum imperdiet vel
        dignissim.
      </p>
    </div>
  </section>
  <section class="advice-about">
    <div class="advice-about__container">
      <p class="advice-about__title">Lorem ipsum dolor sit amet consectetur.</p>
      <p class="advice-about__description">
        Lorem ipsum dolor sit amet consectetur. Turpis pharetra lobortis nisi
        pretium ut turpis tristique quam. Nunc ultricies mi non vitae convallis
        sed at. Malesuada sit porttitor aliquet felis. Gravida lacus nibh
        fringilla rhoncus duis sit dolor nunc suspendisse. Mattis orci leo
        ultrices sollicitudin ridiculus libero quis dictum. Ridiculus senectus
        amet orci bibendum imperdiet vel dignissim. Lorem ipsum dolor sit amet
        consectetur. Turpis pharetra lobortis nisi pretium ut turpis tristique
        quam. Nunc ultricies mi non vitae convallis sed at. Malesuada sit
        porttitor aliquet felis. Gravida lacus nibh fringilla rhoncus duis sit
        dolor nunc suspendisse. Mattis orci leo ultrices sollicitudin ridiculus
        libero quis dictum. Ridiculus senectus amet orci bibendum imperdiet vel
        dignissim.
      </p>
      <div class="advice-about__wrapper">
        <img
          src="./images/ambassador-page/ambassador-about_2.jpg"
          alt="advice-about image"
          class="advice-about__image"
        />
        <img
          src="./images/ambassador-page/ambassador-about_1.jpg"
          alt="advice-about image"
          class="advice-about__image"
        />
      </div>
      <p class="advice-about__description">
        Lorem ipsum dolor sit amet consectetur. Turpis pharetra lobortis nisi
        pretium ut turpis tristique quam. Nunc ultricies mi non vitae convallis
        sed at. Malesuada sit porttitor aliquet felis. Gravida lacus nibh
        fringilla rhoncus duis sit dolor nunc suspendisse. Mattis orci leo
        ultrices sollicitudin ridiculus libero quis dictum. Ridiculus senectus
        amet orci bibendum imperdiet vel dignissim. Lorem ipsum dolor sit amet
        consectetur. Turpis pharetra lobortis nisi pretium ut turpis tristique
        quam. Nunc ultricies mi non vitae convallis sed at. Malesuada sit
        porttitor aliquet felis. Gravida lacus nibh fringilla rhoncus duis sit
        dolor nunc suspendisse. Mattis orci leo ultrices sollicitudin ridiculus
        libero quis dictum. Ridiculus senectus amet orci bibendum imperdiet vel
        dignissim.
      </p>
      <p class="advice-about__description">
        Lorem ipsum dolor sit amet consectetur. Turpis pharetra lobortis nisi
        pretium ut turpis tristique quam. Nunc ultricies mi non vitae convallis
        sed at. Malesuada sit porttitor aliquet felis. Gravida lacus nibh
        fringilla rhoncus duis sit dolor nunc suspendisse. Mattis orci leo
        ultrices sollicitudin ridiculus libero quis dictum. Ridiculus senectus
        amet orci bibendum imperdiet vel dignissim. Lorem ipsum dolor sit amet
        consectetur. Turpis pharetra lobortis nisi pretium ut turpis tristique
        quam. Nunc ultricies mi non vitae convallis sed at. Malesuada sit
        porttitor aliquet felis. Gravida lacus nibh fringilla rhoncus duis sit
        dolor nunc suspendisse. Mattis orci leo ultrices sollicitudin ridiculus
        libero quis dictum. Ridiculus senectus amet orci bibendum imperdiet vel
        dignissim. Lorem ipsum dolor sit amet consectetur. Turpis pharetra
        lobortis nisi pretium ut turpis tristique quam. Nunc ultricies mi non
        vitae convallis sed at. Malesuada sit porttitor aliquet felis. Gravida
        lacus nibh fringilla rhoncus duis sit dolor nunc suspendisse. Mattis
        orci leo ultrices sollicitudin ridiculus libero quis dictum. Ridiculus
        senectus amet orci bibendum imperdiet vel dignissim. Lorem ipsum dolor
        sit amet consectetur. Turpis pharetra lobortis nisi pretium ut turpis
        tristique quam. Nunc ultricies mi non vitae convallis sed at. Malesuada
        sit porttitor aliquet felis. Gravida lacus nibh fringilla rhoncus duis
        sit dolor nunc suspendisse. Mattis orci leo ultrices sollicitudin
        ridiculus libero quis dictum. Ridiculus senectus amet orci bibendum
        imperdiet vel dignissim.
      </p>
    </div>
  </section>
  <section class="follow">
    <div class="follow__container">
      <p class="follow__title">follow us at</p>
      <a href="" class="follow__button_arrow button_arrow"
        >@ONRIAL
        <svg
          class="button_arrow__icon"
          width="46"
          height="16"
          viewBox="0 0 46 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 8L45 8" stroke="#424242" />
          <path
            d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5"
            stroke="#424242"
          />
        </svg>
        <svg
          class="button_arrow__icon-mobile"
          width="26"
          height="18"
          viewBox="0 0 26 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 9L24.887 9" stroke="#424242" />
          <path
            d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17"
            stroke="#424242"
          />
        </svg>
      </a>
    </div>
    <div class="follow-slider__slider-container">
      <!-- <div class="swiper-button-prev swiper-about-button-prev"></div>
      <div class="swiper-button-next swiper-about-button-next"></div> -->
      <div class="follow-slider__slider swiper js_follow-slider">
        <ul class="follow-slider__list swiper-wrapper">
          <li class="follow-slider__item swiper-slide">
            <img
              src="./images/main/follow/follow_1.jpg"
              alt="follow-slider image"
              class="follow-slider__image"
            />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img
              src="./images/main/follow/follow_2.jpg"
              alt="follow-slider image"
              class="follow-slider__image"
            />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img
              src="./images/main/follow/follow_3.jpg"
              alt="follow-slider image"
              class="follow-slider__image"
            />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img
              src="./images/main/follow/follow_4.jpg"
              alt="follow-slider image"
              class="follow-slider__image"
            />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img
              src="./images/main/follow/follow_5.jpg"
              alt="follow-slider image"
              class="follow-slider__image"
            />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img
              src="./images/main/follow/follow_6.jpg"
              alt="follow-slider image"
              class="follow-slider__image"
            />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img
              src="./images/main/follow/follow_7.jpg"
              alt="follow-slider image"
              class="follow-slider__image"
            />
          </li>
        </ul>
        <!-- <div class="swiper-scrollbar about-swiper-scrollbar"></div> -->
      </div>
    </div>
  </section>
</main>

{% endblock %}
