{% set body_class = "ambassador-page" %} {% extends "./_layout.html" %} {% block
content %}

<main class="ambassador-page">
  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/">Home</a>
      </li>
      <li class="pagination__item">
        <a href="">Ambassador</a>
      </li>
    </ul>
  </div>
  <section class="ambassador">
    <div class="ambassador__container">
      <h1 class="primary">Onrial company ambassador</h1>
      <img
        src="./images/ambassador-page/ambassador_1.jpg"
        alt="ambassador image"
        class="ambassador__image"
      />
      <p class="ambassador__description">
        The Onrial company is about modernity, fashion and trends.
      </p>
      <p class="ambassador__description">
        If you are in love with your business, just like us, follow the latest
        trends, love to be creative, actively maintain your pages in social
        networks, then this offer is for you.
      </p>
    </div>
  </section>
  <section class="ambassador-about">
    <div class="ambassador-about__container">
      <div class="ambassador-about__title">
        But first a little about&nbsp;us
      </div>
      <div class="ambassador-about__description">
        We are a Ukrainian manufacturer of eyelash extension materials. We have
        been in the industry for over 5 years. We are about safe and quality
        products. Our products are loved and used by girls all over the world.
      </div>
      <div class="ambassador-about__wrapper">
        <img
          src="./images/ambassador-page/ambassador-about_2.jpg"
          alt="ambassador-about image"
          class="ambassador-about__image"
        />
        <img
          src="./images/ambassador-page/ambassador-about_1.jpg"
          alt="ambassador-about image"
          class="ambassador-about__image"
        />
      </div>
    </div>
  </section>
  <section class="ambassador-brand">
    <div class="ambassador-brand__container">
      <div class="ambassador-brand__title">Our brand ambassador</div>
      <div class="ambassador-brand__inner">
        <ul class="ambassador-brand__list">
          <li class="ambassador-brand__item">
            the first to receive new products for testing, and also have the
            opportunity to influence their development (your feedback is very
            important to us);
          </li>
          <li class="ambassador-brand__item">
            has the opportunity to receive all the necessary information from
            the leading chemist and technologists of our company;
          </li>
          <li class="ambassador-brand__item">
            has the opportunity to receive recommendations from our extension
            experts;
          </li>
          <li class="ambassador-brand__item">
            annual awarding of the best ambassador with a $200 coupon for the
            company's products.
          </li>
        </ul>
        <div class="ambassador-brand__wrapper">
          <p class="ambassador-brand__subtitle">Has a permanent</p>
          <p class="ambassador-brand__subtitle warning">15% discount</p>
          <p class="ambassador-brand__subtitle">on all products on</p>
          <p class="ambassador-brand__subtitle">our website</p>
        </div>
      </div>
    </div>
  </section>
  <section class="ambassador-criteria">
    <div class="ambassador-criteria__container">
      <div class="ambassador-criteria__title">
        Criteria for Onrial representatives
      </div>
      <div class="ambassador-criteria__inner">
        <ul class="ambassador-criteria__list">
          <li class="ambassador-criteria__item">
            At least 1000 active followers on Instagram/Facebook/YouTube.
          </li>
          <li class="ambassador-criteria__item">
            Content on social networks should be related to eyelash extensions.
          </li>
          <li class="ambassador-criteria__item">
            Have a post "Ambassador of the Onrial company" in the profile.
          </li>
          <li class="ambassador-criteria__item">
            Post Onrial content at least 3 times a month (photos, videos, reels
            of products or your work).
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="ambassador-hashtags">
    <div class="ambassador-hashtags__container">
      <p class="ambassador-hashtags__description">Include hashtags</p>
      <ul class="ambassador-hashtags__list">
        <li class="ambassador-hashtags__item">#onrial</li>
        <li class="ambassador-hashtags__item">#onrialextension</li>
        <li class="ambassador-hashtags__item">#onrialglue</li>
        <li class="ambassador-hashtags__item">#onrialeyelashes</li>
        <li class="ambassador-hashtags__item">#onriallamination</li>
      </ul>
    </div>
  </section>
  <section class="ambassador-contact">
    <div class="ambassador-contact__container">
      <p class="ambassador-contact__title">To apply, fill out</p>
      <a href="" class="ambassador-contact__button_arrow button_arrow"
        >The form
        <svg
          class="button_arrow__icon"
          width="46"
          height="16"
          viewBox="0 0 46 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 8L45 8" stroke="#424242" />
          <path
            d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5"
            stroke="#424242"
          />
        </svg>
        <svg
          class="button_arrow__icon-mobile"
          width="26"
          height="18"
          viewBox="0 0 26 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M0 9L24.887 9" stroke="#424242" />
          <path
            d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17"
            stroke="#424242"
          />
        </svg>
      </a>
    </div>
  </section>
</main>

{% endblock %}
