{% set body_class = "categories-page" %}
{% extends "./_layout.html" %}
{% block content %}

<main class="categories-main">

  <div class="mobile-filter-wrapper">
    <div class="mobile-filter-close">
      <img src="/images/close4.svg" alt="i">
    </div>
    <div class="mobile-filter-title">
      Фільтри
    </div>
    <div class="mobile-filter-accordeon">
      <div class="categories-filters-item">
        <div class="categories-filters-item-head">
          <span>Curl</span>
          <img src="/images/icon7.svg" alt="img">
        </div>
        <div class="categories-filters-item-drop">
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb1"> <label for="cb1">
              B
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb4"> <label for="cb4">
              CC
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb5"> <label for="cb5">
              L
            </label>
          </div>
        </div>
      </div>
      <div class="categories-filters-item">
        <div class="categories-filters-item-head">
          <span>Thickness</span>
          <img src="/images/icon7.svg" alt="img">
        </div>
        <div class="categories-filters-item-drop">
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb6"> <label for="cb6">
              0.05 mm
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb7"> <label for="cb7">
              0.07 mm
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb8"> <label for="cb8">
              0.10 mm
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb9"> <label for="cb9">
              0.12 mm
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb10"> <label for="cb10">
              0.15mm
            </label>
          </div>
        </div>
      </div>
      <div class="categories-filters-item">
        <div class="categories-filters-item-head">
          <span>Lenght</span>
          <img src="/images/icon7.svg" alt="img">
        </div>
        <div class="categories-filters-item-drop">
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb11"> <label for="cb11">
              6 mm
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb12"> <label for="cb12">
              7 mm
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb13"> <label for="cb13">
              8 mm
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb14"> <label for="cb14">
              9 mm
            </label>
          </div>
          <div class="categories-filters-item-drop-el">
            <input type="checkbox" id="cb15"> <label for="cb15">
              10 mm
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="mobile-filter-bottom">
      <div class="mobile-filter-bottom-clear">
        Clear all
      </div>
      <div class="mobile-filter-bottom-apply">
        Apply
      </div>
    </div>
  </div>

  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/">Home</a>
      </li>
      <li class="pagination__item">
        <a href="">advice for masters</a>
      </li>
      <li class="pagination__item">
        <a href="">trends</a>
      </li>
    </ul>
  </div>

  <div class="categories-fluid">
    <div class="categories-centered">

      <div class="categories-top">
        <div class="categories-top-title">BROWN eyelashes</div>
        <div class="categories-top-right">
          <div class="categories-top-right-filter-btn">
            <span>Фільтри</span>
            <img src="/images/icon11.svg" alt="img">
          </div>
          <div class="categories-top-view">
            <a href="/categories.html" class="categories-top-view-tile active">
              <div class="categories-top-view-tile-icon"></div>
            </a>
            <a href="/quick-order.html" class="categories-top-view-list">
              <div class="categories-top-view-list-icon"></div>
              <span>швидке замовлення</span>
            </a>
          </div>
        </div>
      </div>

      <div class="categories-filters">
        <div class="categories-filters-item">
          <div class="categories-filters-item-head">
            <span>Curl</span>
            <img src="/images/icon7.svg" alt="img">
          </div>
          <div class="categories-filters-item-drop">
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb1"> <label for="cb1">
                B
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb5"> <label for="cb5">
                L
              </label>
            </div>
          </div>
        </div>
        <div class="categories-filters-item">
          <div class="categories-filters-item-head">
            <span>Thickness</span>
            <img src="/images/icon7.svg" alt="img">
          </div>
          <div class="categories-filters-item-drop">
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb6"> <label for="cb6">
                0.05 mm
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb7"> <label for="cb7">
                0.07 mm
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb8"> <label for="cb8">
                0.10 mm
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb9"> <label for="cb9">
                0.12 mm
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb10"> <label for="cb10">
                0.15mm
              </label>
            </div>
          </div>
        </div>
        <div class="categories-filters-item">
          <div class="categories-filters-item-head">
            <span>Lenght</span>
            <img src="/images/icon7.svg" alt="img">
          </div>
          <div class="categories-filters-item-drop">
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb11"> <label for="cb11">
                6 mm
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb12"> <label for="cb12">
                7 mm
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb13"> <label for="cb13">
                8 mm
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb14"> <label for="cb14">
                9 mm
              </label>
            </div>
            <div class="categories-filters-item-drop-el">
              <input type="checkbox" id="cb15"> <label for="cb15">
                10 mm
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="categories-cards">
        <div class="categories-card discount favorit">
          <div class="categories-card-item-top">
            <div class="categories-card-item-top-discount">
              <img src="/images/icon8.svg" alt="img">
            </div>
            <div class="categories-card-item-top-like">
              <svg width="40" height="35" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.7196 1.19971C6.13061 1.19971 1.59961 5.79098 1.59961 11.4543C1.59961 21.7089 13.5596 31.0313 19.9996 33.1997C26.4396 31.0313 38.3996 21.7089 38.3996 11.4543C38.3996 5.79098 33.8686 1.19971 28.2796 1.19971C24.8572 1.19971 21.8304 2.92155 19.9996 5.55699C19.0664 4.2101 17.8267 3.11088 16.3854 2.35241C14.9441 1.59394 13.3437 1.19855 11.7196 1.19971Z"
                  stroke="#424242" stroke-width="2.13083" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="categories-card-item-image">
            <img src="/images/img12.png" alt="img">
          </div>
          <div class="categories-card-item-name">
            Black lashes mix
          </div>
          <div class="categories-card-item-type">
            MIX B 0.07 6-13MM
          </div>
          <div class="categories-card-item-bottom">
            <div class="categories-card-item-bottom-prices">
              <div class="categories-card-item-bottom-crossed-price">
                $1221
              </div>
              <div class="categories-card-item-bottom-current-price">
                $1221
              </div>
            </div>
            <div class="categories-card-item-bottom-cart-btn">
              <img src="/images/bag.svg" alt="img">
            </div>
          </div>
        </div>
        <div class="categories-card">
          <div class="categories-card-item-top">
            <div class="categories-card-item-top-discount">
              <img src="/images/icon8.svg" alt="img">
            </div>
            <div class="categories-card-item-top-like">
              <svg width="40" height="35" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.7196 1.19971C6.13061 1.19971 1.59961 5.79098 1.59961 11.4543C1.59961 21.7089 13.5596 31.0313 19.9996 33.1997C26.4396 31.0313 38.3996 21.7089 38.3996 11.4543C38.3996 5.79098 33.8686 1.19971 28.2796 1.19971C24.8572 1.19971 21.8304 2.92155 19.9996 5.55699C19.0664 4.2101 17.8267 3.11088 16.3854 2.35241C14.9441 1.59394 13.3437 1.19855 11.7196 1.19971Z"
                  stroke="#424242" stroke-width="2.13083" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="categories-card-item-image">
            <img src="/images/img12.png" alt="img">
          </div>
          <div class="categories-card-item-name">
            Black lashes mix Black lashes mix Black lashes mix Black lashes mix Black lashes mix Black lashes mix Black
            lashes mix Black lashes mix
          </div>
          <div class="categories-card-item-type">
            MIX B 0.07 6-13MM
          </div>
          <div class="categories-card-item-bottom">
            <div class="categories-card-item-bottom-prices">
              <div class="categories-card-item-bottom-crossed-price">
                $1221
              </div>
              <div class="categories-card-item-bottom-current-price">
                $1221
              </div>
            </div>
            <div class="categories-card-item-bottom-cart-btn">
              <img src="/images/bag.svg" alt="img">
            </div>
          </div>
        </div>
        <div class="categories-card discount">
          <div class="categories-card-item-top">
            <div class="categories-card-item-top-discount">
              <img src="/images/icon8.svg" alt="img">
            </div>
            <div class="categories-card-item-top-like">
              <svg width="40" height="35" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.7196 1.19971C6.13061 1.19971 1.59961 5.79098 1.59961 11.4543C1.59961 21.7089 13.5596 31.0313 19.9996 33.1997C26.4396 31.0313 38.3996 21.7089 38.3996 11.4543C38.3996 5.79098 33.8686 1.19971 28.2796 1.19971C24.8572 1.19971 21.8304 2.92155 19.9996 5.55699C19.0664 4.2101 17.8267 3.11088 16.3854 2.35241C14.9441 1.59394 13.3437 1.19855 11.7196 1.19971Z"
                  stroke="#424242" stroke-width="2.13083" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="categories-card-item-image">
            <img src="/images/img12.png" alt="img">
          </div>
          <div class="categories-card-item-name">
            Black lashes mix
          </div>
          <div class="categories-card-item-type">
            MIX B 0.07 6-13MM
          </div>
          <div class="categories-card-item-bottom">
            <div class="categories-card-item-bottom-prices">
              <div class="categories-card-item-bottom-crossed-price">
                $1221
              </div>
              <div class="categories-card-item-bottom-current-price">
                $1221
              </div>
            </div>
            <div class="categories-card-item-bottom-cart-btn">
              <img src="/images/bag.svg" alt="img">
            </div>
          </div>
        </div>
        <div class="categories-card favorit">
          <div class="categories-card-item-top">
            <div class="categories-card-item-top-discount">
              <img src="/images/icon8.svg" alt="img">
            </div>
            <div class="categories-card-item-top-like">
              <svg width="40" height="35" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.7196 1.19971C6.13061 1.19971 1.59961 5.79098 1.59961 11.4543C1.59961 21.7089 13.5596 31.0313 19.9996 33.1997C26.4396 31.0313 38.3996 21.7089 38.3996 11.4543C38.3996 5.79098 33.8686 1.19971 28.2796 1.19971C24.8572 1.19971 21.8304 2.92155 19.9996 5.55699C19.0664 4.2101 17.8267 3.11088 16.3854 2.35241C14.9441 1.59394 13.3437 1.19855 11.7196 1.19971Z"
                  stroke="#424242" stroke-width="2.13083" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="categories-card-item-image">
            <img src="/images/img12.png" alt="img">
          </div>
          <div class="categories-card-item-name">
            Black lashes mix
          </div>
          <div class="categories-card-item-type">
            MIX B 0.07 6-13MM
          </div>
          <div class="categories-card-item-bottom">
            <div class="categories-card-item-bottom-prices">
              <div class="categories-card-item-bottom-crossed-price">
                $1221
              </div>
              <div class="categories-card-item-bottom-current-price">
                $1221
              </div>
            </div>
            <div class="categories-card-item-bottom-cart-btn">
              <img src="/images/bag.svg" alt="img">
            </div>
          </div>
        </div>
        <div class="categories-card">
          <div class="categories-card-item-top">
            <div class="categories-card-item-top-discount">
              <img src="/images/icon8.svg" alt="img">
            </div>
            <div class="categories-card-item-top-like">
              <svg width="40" height="35" viewBox="0 0 40 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.7196 1.19971C6.13061 1.19971 1.59961 5.79098 1.59961 11.4543C1.59961 21.7089 13.5596 31.0313 19.9996 33.1997C26.4396 31.0313 38.3996 21.7089 38.3996 11.4543C38.3996 5.79098 33.8686 1.19971 28.2796 1.19971C24.8572 1.19971 21.8304 2.92155 19.9996 5.55699C19.0664 4.2101 17.8267 3.11088 16.3854 2.35241C14.9441 1.59394 13.3437 1.19855 11.7196 1.19971Z"
                  stroke="#424242" stroke-width="2.13083" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
          <div class="categories-card-item-image">
            <img src="/images/img12.png" alt="img">
          </div>
          <div class="categories-card-item-name">
            Black lashes mix
          </div>
          <div class="categories-card-item-type">
            MIX B 0.07 6-13MM
          </div>
          <div class="categories-card-item-bottom">
            <div class="categories-card-item-bottom-prices">
              <div class="categories-card-item-bottom-crossed-price">
                $1221
              </div>
              <div class="categories-card-item-bottom-current-price">
                $1221
              </div>
            </div>
            <div class="categories-card-item-bottom-cart-btn">
              <img src="/images/bag.svg" alt="img">
            </div>
          </div>
        </div>
        <div class="categories-card download-more">
          <div class="categories-card-download-more">
            <span>завантажити ще</span>
            <img src="/images/icon10.svg" alt="img">
          </div>
        </div>
      </div>

      <div class="quick-order-container">
        <div class="quick-order-item">
          <div class="quick-order-item-left">
            <div class="quick-order-item-left-product">
              <div class="quick-order-item-left-product-img"></div>
              <div class="quick-order-item-left-product-desc">
                <div class="quick-order-item-left-product-desc-name"></div>
                <div class="quick-order-item-left-product-desc-price">
                  
                </div>
              </div>
            </div>
          </div>
          <div class="quick-order-item-right">

          </div>
        </div>
      </div>

      <div class="categories-downloan-more-mobile">
        <span>завантажити ще</span>
        <img src="/images/icon10.svg" alt="img">
      </div>

    </div>
  </div>

</main>

{% endblock %}
