{% set body_class = "checkout-page" %} {% extends "./_layout.html" %} {% block
    content %}

<main class="main-checkout">

  <div class="checkout-first-fluid">
    <div class="checkout-first-centered">
      <div class="checkout-first-left">fill out the form and
        get a 5% discount</div>
      <div class="checkout-first-btn">
        get 5% discount
      </div>
    </div>
  </div>

  <div class="checkout-cart-fluid">
    <div class="checkout-cart-rectangle-bg"></div>
    <div class="checkout-cart-centered">
      <div class="checkout-cart-left">
        <div class="cart-popup-goods-top">
          <div class="cart-area">
            <div class="cart-area-item">
              <div class="cart-area-item-img">
                <img src="/images/img10.png" alt="img">
              </div>
              <div class="cart-area-item-content">
                <div class="cart-area-item-content-top">
                  <div class="cart-area-item-content-mobile-image">
                    <img src="/images/img10.png" alt="img">
                  </div>
                  <div class="cart-area-item-content-name">
                    Glue for Eyelash Extentions “Barcelona”
                  </div>
                  <div class="cart-area-item-content-delete">
                    <img src="/images/close2.svg" alt="img">
                  </div>
                </div>
                <div class="cart-area-item-content-bottom">
                  <div class="cart-area-item-content-ml">
                    3 ml
                  </div>
                  <div class="cart-area-item-content-quantity">
                    <div class="basket-item-product-quantity">
                      <div class="basket-item-product-quantity-less">
                        <span>-</span>
                      </div>
                      <input class="basket-item-product-quantity-input" type="number" value="1" min="1">
                      <div class="basket-item-product-quantity-more">
                        <span>+</span>
                      </div>
                    </div>
                  </div>
                  <div class="cart-area-item-content-price">
                    ₴ 243
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-area-item">
              <div class="cart-area-item-img">
                <img src="/images/img10.png" alt="img">
              </div>
              <div class="cart-area-item-content">
                <div class="cart-area-item-content-top">
                  <div class="cart-area-item-content-mobile-image">
                    <img src="/images/img10.png" alt="img">
                  </div>
                  <div class="cart-area-item-content-name">
                    Glue for Eyelash Extentions “Barcelona”
                  </div>
                  <div class="cart-area-item-content-delete">
                    <img src="/images/close2.svg" alt="img">
                  </div>
                </div>
                <div class="cart-area-item-content-bottom">
                  <div class="cart-area-item-content-ml">
                    3 ml
                  </div>
                  <div class="cart-area-item-content-quantity">
                    <div class="basket-item-product-quantity">
                      <div class="basket-item-product-quantity-less">
                        <span>-</span>
                      </div>
                      <input class="basket-item-product-quantity-input" type="number" value="1" min="1">
                      <div class="basket-item-product-quantity-more">
                        <span>+</span>
                      </div>
                    </div>
                  </div>
                  <div class="cart-area-item-content-price">
                    ₴ 243
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-area-item">
              <div class="cart-area-item-img">
                <img src="/images/img10.png" alt="img">
              </div>
              <div class="cart-area-item-content">
                <div class="cart-area-item-content-top">
                  <div class="cart-area-item-content-mobile-image">
                    <img src="/images/img10.png" alt="img">
                  </div>
                  <div class="cart-area-item-content-name">
                    Glue for Eyelash Extentions “Barcelona”
                  </div>
                  <div class="cart-area-item-content-delete">
                    <img src="/images/close2.svg" alt="img">
                  </div>
                </div>
                <div class="cart-area-item-content-bottom">
                  <div class="cart-area-item-content-ml">
                    3 ml
                  </div>
                  <div class="cart-area-item-content-quantity">
                    <div class="basket-item-product-quantity">
                      <div class="basket-item-product-quantity-less">
                        <span>-</span>
                      </div>
                      <input class="basket-item-product-quantity-input" type="number" value="1" min="1">
                      <div class="basket-item-product-quantity-more">
                        <span>+</span>
                      </div>
                    </div>
                  </div>
                  <div class="cart-area-item-content-price">
                    ₴ 243
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-area-item">
              <div class="cart-area-item-img">
                <img src="/images/img10.png" alt="img">
              </div>
              <div class="cart-area-item-content">
                <div class="cart-area-item-content-top">
                  <div class="cart-area-item-content-mobile-image">
                    <img src="/images/img10.png" alt="img">
                  </div>
                  <div class="cart-area-item-content-name">
                    Glue for Eyelash Extentions “Barcelona”
                  </div>
                  <div class="cart-area-item-content-delete">
                    <img src="/images/close2.svg" alt="img">
                  </div>
                </div>
                <div class="cart-area-item-content-bottom">
                  <div class="cart-area-item-content-ml">
                    3 ml
                  </div>
                  <div class="cart-area-item-content-quantity">
                    <div class="basket-item-product-quantity">
                      <div class="basket-item-product-quantity-less">
                        <span>-</span>
                      </div>
                      <input class="basket-item-product-quantity-input" type="number" value="1" min="1">
                      <div class="basket-item-product-quantity-more">
                        <span>+</span>
                      </div>
                    </div>
                  </div>
                  <div class="cart-area-item-content-price">
                    ₴ 243
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-area-item">
              <div class="cart-area-item-img">
                <img src="/images/img10.png" alt="img">
              </div>
              <div class="cart-area-item-content">
                <div class="cart-area-item-content-top">
                  <div class="cart-area-item-content-mobile-image">
                    <img src="/images/img10.png" alt="img">
                  </div>
                  <div class="cart-area-item-content-name">
                    Glue for Eyelash Extentions “Barcelona”
                  </div>
                  <div class="cart-area-item-content-delete">
                    <img src="/images/close2.svg" alt="img">
                  </div>
                </div>
                <div class="cart-area-item-content-bottom">
                  <div class="cart-area-item-content-ml">
                    3 ml
                  </div>
                  <div class="cart-area-item-content-quantity">
                    <div class="basket-item-product-quantity">
                      <div class="basket-item-product-quantity-less">
                        <span>-</span>
                      </div>
                      <input class="basket-item-product-quantity-input" type="number" value="1" min="1">
                      <div class="basket-item-product-quantity-more">
                        <span>+</span>
                      </div>
                    </div>
                  </div>
                  <div class="cart-area-item-content-price">
                    ₴ 243
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="checkout-cart-right">
        <div class="checkout-cart-right-title">
          Have a coupon?
        </div>
        <div class="checkout-cart-right-input">
          <input type="text" placeholder="paste coupon code">
        </div>
        <div class="checkout-cart-right-btn">
          use
        </div>
        <div class="checkout-cart-right-delivery">
          <div class="checkout-cart-right-delivery-item">
            <div class="checkout-cart-right-delivery-item-title">
              Formy Płatności
            </div>
            <div class="checkout-cart-right-delivery-item-icons">
              <div class="checkout-cart-right-delivery-icons-el">
                <img src="/images/icon1.png" alt="img">
              </div>
              <div class="checkout-cart-right-delivery-icons-el">
                <img src="/images/icon2.png" alt="img">
              </div>
            </div>
          </div>
          <div class="checkout-cart-right-delivery-item">
            <div class="checkout-cart-right-delivery-item-title">
              Dostawa
            </div>
            <div class="checkout-cart-right-delivery-item-icons">
              <div class="checkout-cart-right-delivery-icons-el">
                <img src="/images/icon3.png" alt="img">
              </div>
              <div class="checkout-cart-right-delivery-icons-el">
                <img src="/images/icon4.png" alt="img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="checkout-footer-fluid">
    <div class="checkout-footer-centered">
      <div class="checkout-footer-top">
        <div class="checkout-footer-top-item">
          <div class="checkout-footer-top-item-name">
            Всього товарів:
          </div>
          <div class="checkout-footer-top-item-price">
            3
          </div>
        </div>
        <div class="checkout-footer-top-item">
          <div class="checkout-footer-top-item-name">
            subtotal:
          </div>
          <div class="checkout-footer-top-item-price">
            $ 90
          </div>
        </div>
        <div class="checkout-footer-top-item">
          <div class="checkout-footer-top-item-name">
            subtotal with promocode:
          </div>
          <div class="checkout-footer-top-item-price">
            $ 85
          </div>
        </div>
      </div>
      <div class="checkout-footer-bottom">
        <div class="checkout-footer-bottom-item">
          <div class="checkout-footer-bottom-item-name">
            total:
          </div>
          <div class="checkout-footer-bottom-item-price">
            $ 85
          </div>
        </div>
      </div>
      <a href="/" class="checkout-footer-make-order-btn">
        Make an order
      </a>
    </div>
  </div>


</main>

{% endblock %}
