{% set body_class = "main-page" %} {% extends "./_layout.html" %} {% block
content %}

<main class="main-page">
  <section class="top-slider">
    <div class="top-slider__slider-container">
      <div class="swiper-pagination"></div>
      <!-- <div class="swiper-button-prev swiper-about-button-prev"></div>
      <div class="swiper-button-next swiper-about-button-next"></div> -->
      <div class="top-slider__slider swiper js_top-slider">
        <ul class="top-slider__list swiper-wrapper">
          <li class="top-slider__item swiper-slide">
            <img src="./images/main/top/top.jpg" alt="top-slider image" class="top-slider__image" />
            <div class="top-slider__wrapper">
              <div class="top-slider__wrapper-inner">
                <a href="/" class="top-slider__button button">shop</a>
                <h1 class="top-slider__title">
                  Production of quality and safe. Eyelash’ extension materials
                </h1>
              </div>
            </div>
          </li>
          <li class="top-slider__item swiper-slide">
            <img src="./images/main/top/top.jpg" alt="top-slider image" class="top-slider__image" />
            <div class="top-slider__wrapper">
              <div class="top-slider__wrapper-inner">
                <a href="/" class="top-slider__button button">shop</a>
                <h1 class="top-slider__title">
                  Production of quality and safe. Eyelash’ extension materials
                </h1>
              </div>
            </div>
          </li>
          <li class="top-slider__item swiper-slide">
            <img src="./images/main/top/top.jpg" alt="top-slider image" class="top-slider__image" />
            <div class="top-slider__wrapper">
              <div class="top-slider__wrapper-inner">
                <a href="/" class="top-slider__button button">shop</a>
                <h1 class="top-slider__title">
                  Production of quality and safe. Eyelash’ extension materials
                </h1>
              </div>
            </div>
          </li>
        </ul>
        <div class="swiper-scrollbar about-swiper-scrollbar"></div>
      </div>
    </div>
  </section>
  <!-- <section class="top-slider__ticker ticker"></section> -->
  <a href="/" class="separator">
    <ul class="separator__list">
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
      <li class="separator__item">
        <p class="">catalog</p>
      </li>
    </ul>
  </a>
  <section class="goods">
    <ul class="goods__list">
      <li class="goods__item">
        <a href="" class="goods__link">
          <p><span>01</span>eyelashes</p>
          <img src="./images/main/goods/goods__arrow.svg" alt="" class="goods__icon" />
        </a>
        <img src="./images/main/goods/goods_1.jpg" alt="" class="goods__image" />
      </li>
      <li class="goods__item">
        <a href="" class="goods__link">
          <p><span>02</span>tweezers</p>
          <img src="./images/main/goods/goods__arrow.svg" alt="" class="goods__icon" />
        </a>
        <img src="./images/main/goods/goods_2.png" alt="" class="goods__image" />
      </li>
      <li class="goods__item">
        <a href="" class="goods__link">
          <p><span>03</span>glues</p>
          <img src="./images/main/goods/goods__arrow.svg" alt="" class="goods__icon" />
        </a>
        <img src="./images/main/goods/goods_3.jpg" alt="" class="goods__image" />
      </li>
      <li class="goods__item">
        <a href="" class="goods__link">
          <p><span>04</span>eyelash preparation and care</p>
          <img src="./images/main/goods/goods__arrow.svg" alt="" class="goods__icon" />
        </a>
        <img src="./images/main/goods/goods_4.jpg" alt="" class="goods__image" />
      </li>
      <li class="goods__item">
        <a href="" class="goods__link">
          <p><span>05</span>Eyelash perming material</p>
          <img src="./images/main/goods/goods__arrow.svg" alt="" class="goods__icon" />
        </a>
        <img src="./images/main/goods/goods_5.jpg" alt="" class="goods__image" />
      </li>
    </ul>
  </section>
  <section class="bestsellers-slider">
    <div class="bestsellers-slider__slider-container">
      <p class="bestsellers-slider__title">bestsellers</p>
      <div class="swiper-button-prev swiper-about-button-prev"></div>
      <div class="swiper-button-next swiper-about-button-next"></div>
      <div class="bestsellers-slider__slider swiper js_bestsellers-slider">
        <ul class="bestsellers-slider__list swiper-wrapper">
          <li class="bestsellers-slider__item card swiper-slide">
            <div class="card__header">
              <svg class="card__icon_like" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <img src="./images/main/bestsellers/goods_1.jpg" alt="card image" class="card__image" />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg class="card__icon_bag" fill="none" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17" stroke-width="1.92" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
          </li>
          <li class="bestsellers-slider__item card swiper-slide">
            <div class="card__header">
              <svg class="card__icon_like" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <img src="./images/main/bestsellers/goods_1.jpg" alt="card image" class="card__image" />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg class="card__icon_bag" fill="none" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17" stroke-width="1.92" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
          </li>
          <li class="bestsellers-slider__item card swiper-slide">
            <div class="card__header">
              <svg class="card__icon_like" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <img src="./images/main/bestsellers/goods_1.jpg" alt="card image" class="card__image" />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg class="card__icon_bag" fill="none" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17" stroke-width="1.92" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
          </li>
          <li class="bestsellers-slider__item card swiper-slide">
            <div class="card__header">
              <svg class="card__icon_like" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <img src="./images/main/bestsellers/goods_1.jpg" alt="card image" class="card__image" />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg class="card__icon_bag" fill="none" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17" stroke-width="1.92" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
          </li>
          <li class="bestsellers-slider__item card swiper-slide">
            <div class="card__header">
              <svg class="card__icon_like" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>

            <img src="./images/main/bestsellers/goods_1.jpg" alt="card image" class="card__image" />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg class="card__icon_bag" fill="none" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17" stroke-width="1.92" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </div>
          </li>
        </ul>
        <!-- <div class="swiper-scrollbar about-swiper-scrollbar"></div> -->
      </div>
    </div>
  </section>
  <section class="about">
    <div class="about__container">
      <p class="about__title">become our partner</p>
      <p class="about__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum."
      </p>
      <img src="./images/main/about/about_1.jpg" alt="our partner image" class="about__image" />
      <div class="about__content">
        <p class="about__title">become our partner</p>
        <p class="about__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum."
        </p>
        <div href="" class="about__button_arrow button_arrow  js-modal-link" data-target="become-partner-popup">fill the
          partnership form
          <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8L45 8" stroke="#424242" />
            <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
          </svg>
          <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 9L24.887 9" stroke="#424242" />
            <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
          </svg>
        </div>
      </div>
    </div>
  </section>
  <section class="about reverse">
    <div class="about__container">
      <p class="about__title">BEST CONSULTING, MAXIMUM SERVICE</p>
      <p class="about__description">
        We take care about the real Partnership with Our Dealers, Salons and
        Masters
      </p>
      <p class="about__description">
        Our End Customers feel really happy about WE CARE of THEIR BEAUTY Our
        Partners are full of CONFIDENT about ONRIAL Our Products Quality and Our
        Experts give YOU the Perfect materials and Professional Consulting a
        glance - the one that fascinates
      </p>
      <img src="./images/main/about/about_2.jpg" alt="our partner image" class="about__image" />
      <div class="about__content">
        <p class="about__title">BEST CONSULTING, MAXIMUM SERVICE</p>
        <p class="about__description">
          We take care about the real Partnership with Our Dealers, Salons and
          Masters
        </p>
        <p class="about__description">
          Our End Customers feel really happy about WE CARE of THEIR BEAUTY Our
          Partners are full of CONFIDENT about ONRIAL Our Products Quality and
          Our Experts give YOU the Perfect materials and Professional Consulting
          a glance - the one that fascinates
        </p>
        <div href="" class="about__button_arrow button_arrow js-modal-link" data-target="become-partner-popup">fill the
          partnership form
          <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8L45 8" stroke="#424242" />
            <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
          </svg>
          <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 9L24.887 9" stroke="#424242" />
            <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
          </svg>
        </div>
      </div>
    </div>
  </section>
  <section class="statistics">
    <ul class="statistics__list">
      <li class="statistics__item">
        <p class="statistics__number">5000</p>
        <p class="statistics__description">Клієнтів працює з нами</p>
      </li>
      <li class="statistics__item">
        <p class="statistics__number">24</p>
        <p class="statistics__description">Кольори для фарбування</p>
      </li>
      <li class="statistics__item">
        <p class="statistics__number">9</p>
        <p class="statistics__description">
          Вигинів<br />
          (B, C, D, CC, L90, L, L+M, V)
        </p>
      </li>
    </ul>
  </section>
  <section class="advice">
    <div class="advice__container">
      <div class="advice__wrapper">
        <p class="advice__title">advice for masters</p>
        <a href="" class="about__button_arrow button_arrow">see more
          <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 8L45 8" stroke="#424242" />
            <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
          </svg>
          <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M0 9L24.887 9" stroke="#424242" />
            <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
          </svg>
        </a>
      </div>
      <ul class="advice__list">
        <li class="advice__item advice-card">
          <img src="./images/main/advice/advice_1.jpg" alt="advice image" class="advice-card__image" />
          <div class="advice-card__description-container">
            <p class="advice-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              consectetur adipiscing elit,
            </p>
          </div>
          <p class="advice-card__type">company news</p>
        </li>
        <li class="advice__item advice-card">
          <img src="./images/main/advice/advice_2.jpg" alt="advice image" class="advice-card__image" />
          <div class="advice-card__description-container">
            <p class="advice-card__description">Lorem ipsum dolor sit amet</p>
          </div>
          <p class="advice-card__type">beauty advice</p>
        </li>
        <li class="advice__item advice-card">
          <img src="./images/main/advice/advice_3.jpg" alt="advice image" class="advice-card__image" />
          <div class="advice-card__description-container">
            <p class="advice-card__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            </p>
          </div>
          <p class="advice-card__type">beauty advice</p>
        </li>
      </ul>
      <a href="" class="about__button_arrow button_arrow">see more
        <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 8L45 8" stroke="#424242" />
          <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
        </svg>
        <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9L24.887 9" stroke="#424242" />
          <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
        </svg>
      </a>
    </div>
  </section>
  <section class="contact-us">
    <div class="contact-us__container">
      <p class="contact-us__title">contact us</p>
      <div class="contact-us__wrapper">
        <div class="contact-us__description-wrapper">
          <p class="contact-us__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat.
          </p>
        </div>

        <form class="contact-form" action="">
          <ul class="contact-form__list">
            <li class="contact-form__item">
              <input type="text" class="contact-form__input" type="text" placeholder=" " name="name"
                autocomplete="off" />
              <label for="name">NAME</label>
              <span class="contact-form__error-text">Use latin letters</span>
            </li>
            <li class="contact-form__item">
              <input type="text" class="contact-form__input" type="text" placeholder=" " name="name"
                autocomplete="off" />
              <label for="name">COUNTRY</label>
              <span class="contact-form__error-text">Use latin letters</span>
            </li>
            <li class="contact-form__item">
              <input type="phone" class="contact-form__input" type="tel" placeholder="+380 _ _ _ _ _ _ _ _ _ "
                name="phone" autocomplete="off" />
              <label for="name">PHONE</label>
              <span class="contact-form__error-text">Fill in the field</span>
            </li>
            <li class="contact-form__item">
              <input class="contact-form__input" type="email" placeholder=" " name="email" />
              <label for="name">E-MAIL</label>
              <span class="contact-form__error-text">Невірний формат</span>
            </li>
            <li class="contact-form__item">
              <textarea spellcheck="false" placeholder=" " class="contact-form__textarea" name="message"></textarea>
              <label for="name">MESSAGE</label>
            </li>
          </ul>

          <a href="" class="contact-form__button_arrow button_arrow js-modal-link" type="submit"
            data-target="thanks-popup">
            Send
            <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8L45 8" stroke="#424242" />
              <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
            </svg>
            <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9L24.887 9" stroke="#424242" />
              <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
            </svg>
          </a>
          <!-- <a
            type="submit"
            class="contact-form__msm-button msm-button js-modal-link"
            data-target="thanks-popup"
          >
            Надіслати
          </a> -->
        </form>
      </div>
    </div>
  </section>
  <section class="follow">
    <div class="follow__container">
      <p class="follow__title">follow us at</p>
      <a href="" class="follow__button_arrow button_arrow">@ONRIAL
        <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 8L45 8" stroke="#424242" />
          <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
        </svg>
        <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M0 9L24.887 9" stroke="#424242" />
          <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
        </svg>
      </a>
    </div>
    <div class="follow-slider__slider-container">
      <!-- <div class="swiper-button-prev swiper-about-button-prev"></div>
      <div class="swiper-button-next swiper-about-button-next"></div> -->
      <div class="follow-slider__slider swiper js_follow-slider">
        <ul class="follow-slider__list swiper-wrapper">
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_1.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_2.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_3.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_4.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_5.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_6.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
          <li class="follow-slider__item swiper-slide">
            <img src="./images/main/follow/follow_7.jpg" alt="follow-slider image" class="follow-slider__image" />
          </li>
        </ul>
        <!-- <div class="swiper-scrollbar about-swiper-scrollbar"></div> -->
      </div>
    </div>
  </section>
</main>


{% endblock %}
