{% set body_class = "instructors-page" %}
{% extends "./_layout.html" %}
{% block content %}

<main class="instructors-main">

  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/">Home</a>
      </li>
      <li class="pagination__item">
        <a href="">advice for masters</a>
      </li>
      <li class="pagination__item">
        <a href="">trends</a>
      </li>
    </ul>
  </div>

  <div class="school-first-fluid">
    <div class="school-first-centered">
      <div class="school-first-container">
        <a href="/school.html" class="school-first-item">
          <div class="school-first-item-images">
            <img src="/images/img16.jpg" alt="img">
          </div>
          <div class="school-first-item-bottom">
            <span>майстри</span>
            <img src="/images/icon19.svg" alt="img">
          </div>
        </a>
        <a href="/instructors.html" class="school-first-item active">
          <div class="school-first-item-images">
            <img src="/images/img17.jpg" alt="img">
          </div>
          <div class="school-first-item-bottom">
            <span>Інструктори</span>
            <img src="/images/icon19.svg" alt="img">
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="instructors-second-fluid">
    <div class="instructors-second-centered">
      <div class="instructors-second-title">
        SZKOŁA INSTRUKTORÓw <span>ONRIAL</span>
      </div>
      <div class="instructors-second-paragraph">
        To profesjonalne kursy przedłużania i laminowania rzęs
      </div>
      <div class="instructors-second-paragraph">
        Każdy kurs zawiera wszystkie niezbędne dane (część teoretyczna i praktyczna), co pozwala uzyskać niezbędną
        wiedzę
        do szkolenia uczniów.
      </div>
    </div>
  </div>

  <div class="instructors-third-fluid">
    <div class="instructors-third-centered">
      <div class="instructors-third-title">
        MISTRZOWSKIE
      </div>
      <div class="instructors-third-container">
        <div class="instructors-third-item">
          <div class="instructors-third-item-image">
            <img src="/images/img26.jpg" alt="img">
          </div>
          <div class="instructors-third-item-down">
            <div class="instructors-third-item-down-name">
              Mistrzowskie Basic 1:1
            </div>
            <div class="instructors-third-item-down-arrow">
              <img src="/images/arrow7.svg" alt="img">
            </div>
          </div>
        </div>
        <div class="instructors-third-item">
          <div class="instructors-third-item-image">
            <img src="/images/img26.jpg" alt="img">
          </div>
          <div class="instructors-third-item-down">
            <div class="instructors-third-item-down-name">
              Szkolenie 2-3D
            </div>
            <div class="instructors-third-item-down-arrow">
              <img src="/images/arrow7.svg" alt="img">
            </div>
          </div>
        </div>
        <div class="instructors-third-item">
          <div class="instructors-third-item-image">
            <img src="/images/img26.jpg" alt="img">
          </div>
          <div class="instructors-third-item-down">
            <div class="instructors-third-item-down-name">
              Onrial Vollume Black 4-8D
            </div>
            <div class="instructors-third-item-down-arrow">
              <img src="/images/arrow7.svg" alt="img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="instructors-speakers-fluid">
    <div class="instructors-speakers-centered">
      <div class="instructors-speakers-title">
        Speakers
      </div>
      <div class="instructors-speakers-content">
        <div class="instructors-speakers-content-left">
          <img src="/images/img27.jpg" alt="img">
        </div>
        <div class="instructors-speakers-content-right">
          <ul>
            <li>Miedzynarodowy sedzia w mistrzostwach stylizacji rzes, reprezentantka Polski na arenie miedzynarodowej
            </li>
            <li>Laureatka licznych mistrzostw w Polsce oraz za granica. </li>
            <li>Instruktorka, stylistka od 2018 r. </li>
            <li>Ambasadorka marki ONRIAL w Polsce, prowadzi szkolenia miedzynarodowe</li>
            <li>Wlascicielka dwóch salonów STYLIZACJA I SZKOLENIA - KOWALCKYK LENA w Koniakowie i Cieszvnie</li>
            <li>Autorka techniki MISTRZOWSKIEGO LASH LIPTINGU. Opatentowala metode zawsze udanej stulio.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="instructors-how-fluid">
    <div class="instructors-how-centered">
      <div class="instructors-how-title">
        Jak zostać instruktorem?
      </div>
      <div class="instructors-how-content">
        <div class="instructors-how-content-left">
          <div class="instructors-how-content-left-item">
            <div class="instructors-how-content-left-item-num">
              01
            </div>
            <div class="instructors-how-content-left-item-link  js-modal-link" data-target="questionary-popup">
              <div class="instructors-how-content-left-item-name">
                Wypełnij ankietę
              </div>
              <div class="instructors-how-content-left-item-arr">
                <img src="/images/arrow8.svg" alt="img">
              </div>
            </div>
          </div>
          <div class="instructors-how-content-left-item">
            <div class="instructors-how-content-left-item-num">
              02
            </div>
            <div class="instructors-how-content-left-item-name">
              Wybierz kurs
            </div>
          </div>
          <div class="instructors-how-content-left-item">
            <div class="instructors-how-content-left-item-num">
              03
            </div>
            <div class="instructors-how-content-left-item-name">
              Weź udział w szkoleniu u szefa instruktora ONRIAL
            </div>
          </div>
          <div class="instructors-how-content-left-item">
            <div class="instructors-how-content-left-item-num">
              04
            </div>
            <div class="instructors-how-content-left-item-name">
              Zdobądź certyfikat
            </div>
          </div>
        </div>
        <div class="instructors-how-content-right">
          <img src="/images/img28.jpg" alt="img">
        </div>
      </div>
    </div>
  </div>



  <div class="registration-sales-news-fluid">
    <div class="registration-sales-news-centered">
      <div class="registration-sales-news-left">
        Do you have any questions ?
      </div>
      <form action="" class="registration-sales-news-right">
        <div class="school-footer-textarea">
          <textarea name="school-textarea" id="" placeholder="Your question"></textarea>
        </div>
        <div class="registration-sales-news-input">
          <input type="text" placeholder="E-mail">
          <button type="submit" class="registration-sales-news-send-btn">
            <img src="/images/icon13.svg" alt="img">
          </button>
        </div>
      </form>
    </div>
  </div>



</main>

{% endblock %}
