{% set body_class = "password-recovery-page" %}
{% extends "./_layout.html" %}
{% block content %}

<main class="password-recovery-main">

  <form action="" class="registration-form">
    <div class="registration-title">
      PASSWORD RECOVERY
    </div>
    <div class="registration-input">
      <div class="form-group">
        <label class="form-label" for="first">E-mail</label>
        <input id="first" class="form-input" type="text" />
        <div class="error-text">
          Use latin letters
        </div>
      </div>
    </div>

    <button type="submit" class="registration-submit-btn">
      Send
    </button>
  </form>

  <div class="registration-sales-news-fluid">
    <div class="registration-sales-news-centered">
      <div class="registration-sales-news-left">
        be the first to know about sales and news!
      </div>
      <div class="registration-sales-news-right">
        <form action="" class="registration-sales-news-input">
          <input type="text" placeholder="E-mail">
          <button type="submit" class="registration-sales-news-send-btn">
            <img src="/images/icon13.svg" alt="img">
          </button>
        </form>
      </div>
    </div>
  </div>

</main>

{% endblock %}
