{% set body_class = "shipping-page" %} {% extends "./_layout.html" %} {% block
  content %}

<main class="privacy-page">

  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/">Home</a>
      </li>
      <li class="pagination__item">
        <a href="">shipping</a>
      </li>
    </ul>
  </div>

  <div class="privacy-fluid">
    <div class="privacy-centered">
      <div class="privacy-title">
        PRIVACY STATEMENT
      </div>
      <h2>
        1. INFORMATION ABOUT THE COLLECTION OF PERSONAL DATA AND CONTACT DATA OF THERESPONSIBLE PERSON
      </h2>
      <p class="marker">
        We are pleased that you have visited our website and thank you for your interest. In thefollowing, we inform you
        about the processing of your personal data when using our website.Personal data in this context is all data with
        which you can be personally identified.
      </p>
      <p class="marker">
        The person responsible for the processing of data on this website under the GeneralData Protection Regulation
        (DSGVO) is the company (ONRIAL Sp. z.o.o. ul. SZLAK, nr 77, lok.222, miejsc. KRAKÓW, kod 31-153, poczta KRAKÓW,
        kraj
        POLSKA), e-mail: info@onrial.com.The controller is the natural or legal person who, alone or jointly with
        others,
        determines thepurposes and means of the processing of personal data.
      </p>
      <p class="marker">
        This website uses SSL or TLS encryption for security purposes and to protect thetransmission of personal data
        and
        other sensitive content (such as orders or requests to thecontroller). You can recognize an encrypted connection
        by
        the string "https://" and thepadlock symbol in the browser line.
      </p>
      <h2>
        2. COLLECTION OF DATA WHEN VISITING OUR SITE
      </h2>
      <p>
        During the simple informational use of our website, i.e., unless you register or otherwiseprovide information to
        us,
        we only collect data that your browser transmits to our server (so-called "server log files"). When you visit
        our
        site, we collect the following data, which istechnically necessary for us to display the site to you:
      </p>
      <ul>
        <li>
          Our visited site
        </li>
        <li>
          Date and time at the time of access
        </li>
        <li>
          Number of data sent in bytes
        </li>
        <li>
          Source / link from which you got to the page
        </li>
        <li>
          Browser used
        </li>
        <li>
          Operating system used
        </li>
        <li>
          IP address used (if applicable: in an anonymized form)
        </li>
      </ul>
      <p>
        Processing is carried out in accordance with Art. 6 para. 1 l. DSGVO based on ourlegitimate interest in
        improving
        the stability and functionality of our website. The data is nottransferred or used in any other way. However,
        we
        reserve the right to review server logfiles retrospectively for specific indications of misuse.
      </p>
      <h2>
        3. ХОСТИНГ. ТУТ ВСТАВИМ ТОТ ХОСТИНГ, КОТОРЫЙ НАМ ПРЕДЛОЖАТ РАЗРАБОТЧИКИ!!!
      </h2>
      <h2>
        4. COOKIES
      </h2>
      <p>
        In order to make your visit to our website more enjoyable and to enable you to usecertain functions, we use
        so-called cookies on various pages. These are small text files thatare stored on your device. Some of the
        cookies we
        use are deleted at the end of the browsersession, i.e. after closing the browser (so-called session cookies).
        Other
        cookies remain onyour end device and allow your browser to be recognized the next time you visit
        (so-calledpersistent cookies). When cookies are set, they collect and process certain user information,such as
        browser and location data, as well as IP address values on an individual basis.Persistent cookies are
        automatically
        deleted after a certain period of time, which may varydepending on the cookie. The duration of the respective
        storage of cookies can be found inthe overview of the cookie settings of your web browser. In some cases,
        cookies
        are used tosimplify the ordering process by saving preferences (for example, remembering thecontents of a
        virtual
        shopping cart for later visits to the site). If personal data is alsoprocessed by individual cookies used by
        us,
        then the processing takes place in accordancewith Art. 6 para. 1 l. b DSGVO or for the performance of a
        contract,
        pursuant to Art. 6 para. 1l. a DSGVO with consent, or in accordance with Art. 6 para. 1 l. f DSGVO in order to
        protectour legitimate interests in the best possible functionality of the website, as well as in a
        customer-friendly
        and efficient design of page visits. Please note that you can set your browser so that you are informed about
        your
        cookie settings and can make an individualdecision to accept them, or you can choose not to accept cookies in
        certain cases or ingeneral. Each browser is different in how it manages cookie settings. This is described
        ineach
        browser's help menu, which explains how you can change your cookie settings. Thiscan be found for each browser
        at
        the following links:
      </p>
      <ul>
        <li>
          Internet Explorer:
          <a
            href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies">https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a>
        </li>
        <li>
          Firefox: <a
            href="https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen">https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen</a>
        </li>
        <li>
          Chrome: <a
            href="https://support.google.com/chrome/answer/95647?hl=de&hlrm=en">https://support.google.com/chrome/answer/95647?hl=de&hlrm=en</a>
        </li>
        <li>
          Safari: <a
            href="https://support.apple.com/de-de/guide/safari/sfri11471/mac">https://support.apple.com/de-de/guide/safari/sfri11471/mac</a>
        </li>
        <li>
          Opera: <a
            href="https://help.opera.com/de/latest/web-preferences/#cookies">https://help.opera.com/de/latest/web-preferences/#cookies</a>
        </li>
      </ul>
      <p>
        Please note, in case if you are not accepted cookie-files, the function of our web-sitecould be limited for
        you.
      </p>
      <h2>
        5. CONTACT US
      </h2>
      <p>
        When you contact us (e.g., via e-mail), personal data is collected. This data is storedand used solely to
        respond to
        your request or to contact you and the relevant technicaladministration. The legal basis for the processing of
        this
        data is our legitimate interest inresponding to your request in accordance with Art. 6 (1) l. f GDPR. If your
        contact is aimed atconcluding a contract, then an additional legal basis for processing is Art. 6 (1) l. b
        GDPR.Your
        data will be deleted after the final processing of your request. This is the case if it canbe inferred from
        the
        circumstances that the matter has been finally clarified and providedthere are no statutory retention
        obligations.
      </p>
      <h2>
        6. DATA PROCESSING WHEN OPENING A CLIENT'S ACCOUNT AND FOR CONCLUDING ACONTRACT
      </h2>
      <p>
        According to Art. 6 (1) l. b DSGVO, the collection and processing of personal data willcontinue if you provide
        them
        to us for the purpose of concluding a contract or opening acustomer account. What data is collected can be
        viewed in
        the respective input forms.Deletion of your client account is possible at any time and can be carried out by
        sending
        amessage to the address of the responsible person indicated above. We store and use thedata provided by you to
        process the contract. After the complete processing of the contractor the deletion of your customer account,
        your
        data will be blocked due to tax andcommercial law and deleted after these periods, unless you expressly
        consent
        to
        the furtheruse of your data or unless we reserve it for further use in accordance with with the law.
      </p>
      <h2>
        7. COMMENT FUNCTION
      </h2>
      <p>
        In the context of the commenting function on this site, in addition to your comment,this site will store and
        publish
        information about the time the comment was created and thename of the commenter you chose. In addition, your
        IP
        address will be registered and saved.This storage of the IP address takes place for security reasons and in
        the
        event that theperson concerned infringes the rights of third parties or posts illegal content through
        thesubmitted
        comment. We need your email address to contact you in the event that a thirdparty objects to your posted
        content
        as
        illegal. The legal basis for the storage of your data isArt. 6 para. 1 l. b and f GDPR. We reserve the right
        to
        remove comments if they are disputedby third parties as illegal.
      </p>
      <h2>
        8. USE OF CUSTOMER DATA FOR DIRECT ADVERTISING
      </h2>
      <p class="marker">
        Subscribing to our email newsletter
      </p>
      <p>
        If you subscribe to our email newsletter, we will regularly send you information aboutour offers. The only
        required
        data for sending the newsletter is your e-mail address.Providing further data is voluntary and will be used to
        contact you personally. We use theso-called double newsletter subscription procedure. This means that we will
        only
        send younewsletters by e-mail if you expressly agree to receive the newsletters. We will then sendyou a
        confirmation
        email asking you to confirm that you would like to receive future updatesby clicking on the appropriate
        link.By
        activating the confirmation link, you give us your consent to the use of yourpersonal data in accordance with
        Art. 6
        para. 1 l. GDPR. When you register for a newsletter,we store your IP address entered by your Internet Service
        Provider (ISP) and the date andtime of registration so that we can track down any potential misuse of your
        email
        address. The data collected by us when registering for the newsletter will be used solely for thepurpose of
        advertising you through the newsletter. You can unsubscribe from the newsletterat any time by using the link
        provided for this purpose in the newsletter or by sending acorresponding message to the responsible person
        indicated
        at the beginning. Uponunsubscribing, your email address will be immediately removed from our newsletter
        list,unless
        you have expressly consented to the continued use of your data, or we reserve theright to use your data in a
        manner
        that is beyond the scope of this what is permitted by lawand about which we inform you in this application.
      </p>
      <p class="marker">
        Sending an email newsletter to current customers
      </p>
      <p>
        If you provided us with your e-mail address when purchasing goods or services, wereserve the right to
        regularly
        send
        you e-mail offers for similar goods or services to thosethat you have already purchased from our range. In
        accordance with § 7 par. 3 of the IGWG,we are not required to obtain your separate consent to do so. In this
        regard,
        data processingis carried out solely on the basis of our legitimate interest in personalized direct
        advertisingin
        accordance with Art. 6 para. 1 l. f GDPR. If you initially objected to the use of your emailaddress for this
        purpose, we will not send any email communications. You have the right toobject to the use of your e-mail
        address
        for the aforementioned promotional purposes at anytime and in the future by notifying the responsible person
        indicated at the beginning. In thiscase, you will only be charged the transmission costs in accordance with
        the
        base
        rates.Upon receipt of your objection, the use of your e-mail address for promotional purposes willcease
        immediately.
      </p>
      <p class="marker">
        Sending news via MailChimp
      </p>
      <p>
        Our electronic newsletters are sent through technical service provider The RocketScience Group, LLC d/b/a
        MailChimp,
        675 Ponce de Leon Ave NE, Suite 5000, Atlanta, GA30308, USA (http://www.mailchimp.com/) to whom we transfer
        the
        data
        provided by youwhen registering for the newsletter. This transfer is carried out in accordance with Art. 6
        (1)l.
        f
        DSGVO and serves our legitimate interest in using a newsletter system that is effective inadvertising, safe
        and
        easy
        to use. Please note that your data is usually transferred to aMailChimp server in the USA and stored
        there.MailChimp
        uses this information to send and statistically evaluate the newsletter onour behalf. For evaluation, the sent
        emails contain so-called web beacons or tracking pixels,which are single-pixel image files that are stored on
        our
        website. This allows you todetermine if the newsletter message was opened and which links, if any, were
        clicked.
        Withthe help of web beacons, Mailchimp automatically generates general, non-personal statisticsabout behavior
        in
        response to information campaigns. Based on our legitimate interest inthe statistical evaluation of newsletter
        campaigns to optimize advertising communicationand better target the interests of recipients, web beacons,
        however,
        also collect and use thedata of the respective newsletter recipient (postal address, search time, IP address,
        browsertype and operating system) in accordance with Art. 6 p. 1 l. f GDPR. This data makes itpossible to draw
        an
        individual conclusion about the recipient of the newsletter and isprocessed by Mailchimp to automatically
        generate
        statistics that indicate whether aparticular recipient has opened the newsletter message.If you wish to
        deactivate
        data analysis for statistical evaluation purposes, you mustunsubscribe from the newsletter.MailChimp may also
        use
        this data itself in accordance with Art. 6(1)(f) DSGVO, basedon its own legitimate interest in designing and
        optimizing the service based on needs, aswell as for market research purposes, for example, to determine from
        which
        countriesrecipients arrive. However, MailChimp does not use the data of the recipients of ournewsletters to
        write to
        them or pass them on to third parties. To protect your data in theUnited States, we have entered into a data
        processing agreement with MailChimp (the "DataProcessing Agreement") based on the European Commission's
        standard
        contractual clausesto enable the transfer of your personal data to MailChimp. If you are interested, this
        dataprocessing agreement can be consulted at the following Internet
        address:https://mailchimp.com/legal/data-processing-addendum/. MailChimp's privacy policy can be found
        here:https://mailchimp.com/legal/privacy/
      </p>
      <p class="marker">
        Advertising via mailing list
      </p>
      <p>
        accordance with Art. 6 (1) l. f DSGVO and use it to send you interesting offers andinformation about our
        products by
        mail.You can object to the storage and use of your data for this purpose at any time bysending a message to
        the
        person responsible.
      </p>
      <h2>
        9. PROCESSING DATA FOR ORDERING
      </h2>
      <p class="marker">
        In order to process your order, we cooperate with the service provider(s) listedbelow, who fully or partially
        support us in the performance of the concluded contracts.Certain personal data will be shared with these
        service
        providers in accordance with thefollowing information.The personal data collected by us will be passed on to
        the
        transport companyauthorized to deliver as part of the processing of the contract, insofar as this is necessary
        forthe delivery of the goods. We share your payment details with the authorized creditinstitution as part of
        the
        payment processing, to the extent necessary to process thepayment. If payment service providers are used, we
        will
        notify you explicitly below. Thelegal basis for data transfer is Art. 6 (1) l. b GDPR.
      </p>
      <p class="marker">
        Use of Special Service Providers to Process and Fulfill Orders- Plenty Markets
      </p>
      <p>
        Order processing is carried out by the service provider "plentymarkets" (plentysystemsAG,
        Bürgermeister-Brunner-Str.
        15, 34117 Kassel). Name, address and, if applicable, otherpersonal data will be transferred to a variety of
        markets
        in accordance with Art. 6 para. 1 l. bDSGVO solely for the purpose of processing an online order. Your data
        will
        only betransferred to the extent that it is really necessary to process the order. Detailedinformation on the
        data
        protection of plentymarkets.eu and the privacy policy ofplentymarkets GmbH can be found on the
        plentymarkets.eu
        website.
      </p>
      <p class="marker">
        Use of payment service providers (payment services)- Apple Pay
      </p>
      <p>
        If you choose the Apple Pay payment method of Apple Distribution International(Apple), Hollyhill Industrial
        Estate,
        Hollyhill, Cork, Ireland, the payment is processed throughthe Apple Pay feature of your iOS, watchOS, or macOS
        device by crediting from a paymentcard deposited in "Apple Pay". Apple Pay uses the security features built
        into
        your devicehardware and software to protect your transactions. Thus, to make a payment, you need toenter a
        code
        previously defined by you, as well as verification using the "Face ID" or "TouchID" function of your device.
        For
        the
        purpose of processing your payment, the information you provide duringcheckout is encrypted along with your
        order
        information to Apple. Apple then re-encryptsthis data with a developer key before passing the data to the
        payment
        service provider ofthe payment card stored in Apple Pay to complete the payment. Encryption ensures thatonly
        the
        website through which the purchase was made can access the payment details.After making a payment, Apple sends
        your
        device account number and a dynamic securitycode for the transaction to the site from which the payment was
        made
        to
        confirm that thepayment was successful.If personal data is processed during the transmissions described, the
        processing takesplace exclusively for the purposes of processing payments in accordance with Art. 6 (1)para. 1
        lit.
        b GDPR.Apple retains anonymous data about the transaction, including the approximateamount of the purchase,
        the
        approximate date and time, and information about whether thetransaction was successfully completed.
        Anonymization
        completely excludes the possibilityof any personal reference. Apple uses anonymized data to improve Apple Pay
        and
        otherApple products and services.When you use Apple Pay on your iPhone or Apple Watch to complete a purchase
        madethrough Safari on Mac, the Mac and the authorization device communicate over anencrypted channel on
        Apple's
        servers. Apple does not process or store this information in aformat that can personally identify you. You can
        turn
        off the ability to use Apple Pay on yourMac in iPhone settings. Go to "Wallet & Apple Pay" and uncheck "Allow
        payments on Mac". For more information please use your web-site:https://support.apple.com/de-de/HT203027.
      </p>
      <p class="marker">
        Paypal
      </p>
      <p>
        When paying via PayPal, by credit card via PayPal, direct debit via PayPal or - if offered- "buy on account"
        or
        "pay
        by installments" via PayPal, we transfer your payment details to PayPal (Europe) S.a.r.l.et Cie, S.C.A., 22-24
        Boulevard Royal, L-2449 Luxembourg(hereinafter "PayPal") as part of the payment processing. The transfer is
        carried
        out inaccordance with Art. 6 para. 1 l. b DSGVO and only to the extent necessary to process thepayment.For
        credit
        card payment methods via PayPal, direct debit via PayPal, or - if offered -"purchase to account" or "pay by
        installments" via PayPal, PayPal reserves the right to holda credit check. For this, your payment data may be
        transferred to credit agencies inaccordance with Art. 6 p. 1 l. f DSGVO on the basis of PayPal's legitimate
        interest
        indetermining your ability to pay. PayPal uses the result of the credit check in terms of thestatistical
        probability
        of non-payment to decide whether to provide the appropriate paymentmethod. A credit report may contain
        probability
        values (so-called score values). To theextent that score values are included in a credit report result, they
        are
        based on ascientifically recognized mathematical-statistical procedure. The scoring calculationincludes, but
        is
        not
        limited to, address data. Further information on data protection law,including information on credit agencies
        used,
        can be found in the data protection declarantPayPal: https://www.paypal.com/de/webapps/mpp/ua/privacy-full.You
        can
        object to this processing of your data at any time by sending a message toPayPal. However, PayPal may still
        have
        the
        right to process your personal data as necessaryfor contractual payment processing.
      </p>
      <p class="marker">
        Stripe
      </p>
      <p>
        If you choose to pay with a Stripe payment service provider, the payment will beprocessed by the Stripe
        payment
        service provider Europe Ltd, 1 Grand Canal Street Lower,Grand Canal Dock, Dublin, Ireland, to whom we will
        transfer
        your data provided during theorder process, along with information about your order (name, address, account
        number,banking grade code, credit card number, if applicable, account amount, currency andtransaction number)
        in
        accordance with Art. 6, p. 1 l. b GDPR. Your data will only be sharedfor the purposes of processing payments
        with
        the payment service provider Stripe PaymentsEurope Ltd. and only to the extent necessary for that purpose.
        More
        information aboutStripe's data protection can be found
        https://stripe.com/de/privacy#translation.
      </p>
      <p class="marker">
        Tpay
      </p>
      <p>
        If you going to choose payment service Tpay, the payment will be processed by supplier Tpay-National Payment
        Integrator spółka akcyjna with its Registered office in Poznań, plac Andersa 3, 17floor, 61-894 Poznań,
        entered
        into
        the Register of entrepreneurs of the National Court registerconducted by the District Court Poznań-Nowe Miasto
        and
        Wilda in Poznań, VIII DivisionNational Court register under KRS number 0000412357, NIP 7773061579,
        REGON300878437,
        share capital PLN 5,494,980 . 00-paid in full;3. Service – website, which is operated by Tpay, website
        address:http://tpay.com, e-mail: kontakt@tpay.com, including the IT module, usingwhich it is possible to
        initiate
        and carry out a payment transaction withthe use of the payer ' s payment instrument;4. Payer – customer of the
        merchant, being a natural person using the portal, which intends to purchasethe goods or services offered by
        it,
        by
        making payments using the service;5. Consumer – a natural person performing with Tpay a legal act not directly
        related toits economic or professional activities;6. Portals-retail outlets (e.g. online stores) operated by
        The
        Merchant, in whichThe merchant will accept payments via Tpay, as well as mobile applications,through which
        payments
        can be made using payment instruments;7. Payment – a monetary service performed by the payer to The Merchant
        through
        Service in fulfillment of the obligation arising between the payer and The Merchant;8. Service – payment
        service
        within the meaning of UUP performed by Tpay for the payer inbased on the provisions of the regulations,
        consisting
        in making payments. Additionalinformation about data secure Tpay you can find here https://tpay.com/
      </p>
      <h2>
        10. FEEDBACK FOR REMINDER OF RATINGS
      </h2>
      <p>
        A reminder of your own rating (not sent by the customer rating system).We use your e-mail address for a
        one-time
        reminder of the rating of your order for therating system we use, provided that you have given us your express
        consent to do so duringor after your order in accordance with Art. 6 (1) l. GDPR.You can withdraw your consent
        at
        any time by sending a message to the datacontroller.
      </p>
      <h2>
        11. USING THE RATING AND REVIEW PRINT CHARTS
      </h2>
      <p>
        Company credentialTo display the collected ratings, as well as reviews on social networks, a seal of trust
        isintegrated on this site. This serves to fulfill our legitimate interests in the optimal marketingof our
        offer
        on
        our own website in accordance with Art. 6 p. 1 l. f GDPR.When calling the Trustami trustmark, the web server
        automatically saves data (accessdata) in the form of a server log file, which contains, for example, the date
        and
        time of thecall, your IP address in abbreviated form and the requesting provider. These access data arenot
        evaluated
        and are automatically overwritten no later than seven days after the end ofyour visit to the website. The
        trust
        mark
        "Trustami" and the services advertised with it arean offer of the company "Trustami GmbH", ul. Friedrich
        Wilhelm
        68,
        12103 Berlin.
      </p>
      <h2>
        12. USE OF SOCIAL NETWORKS: SOCIAL PLUGS
      </h2>
      <p class="marker">
        Facebook as a standard plugin
      </p>
      <p>
        Our website uses so-called social plugins ("plugins") of the social network Facebook,which is operated by
        Facebook
        Ireland Ltd, 4 Grand Canal Square, Grand Canal Harbour,Dublin 2, Ireland (Facebook). The plugins are marked
        with
        the
        Facebook logo or the"Facebook Social Plugin" or "Facebook Social Plugin" add-on. An overview of
        Facebookplugins
        and
        their appearance can be found here:https://developers.facebook.com/docs/plugins.When you call up a page on our
        website that contains such a plug-in, your browserestablishes a direct connection to the Facebook servers. The
        content of the plug-in istransmitted by Facebook directly to your browser and integrated into the page.
        Through
        thisintegration, Facebook receives the information that your browser has accessed the relevantpage of our
        website,
        even if you do not have a Facebook profile or are not currently loggedin Facebook. This information (including
        your
        IP address) is transmitted by your browserdirectly to a Facebook Inc. server. in the USA and stored there.If
        you
        are
        logged into Facebook, Facebook can directly assign your visit to our websiteto your Facebook profile. If you
        interact with the plugins, for example by clicking the "Like"button or leaving a comment, this information is
        also
        transmitted directly to the Facebookserver and stored there. The information is also published on your
        Facebook
        profile anddisplayed to your Facebook friends. The data processing operations described are carriedout in
        accordance
        with Art. 6 (1) lit. f DSGVO on the basis of the legitimate interests ofFacebook in displaying personalized
        advertising in order to inform other users of the socialnetwork about your activity on our website and for the
        needs-oriented design of theFacebook service.If you do not want Facebook to assign the data collected through
        our
        website directlyto your Facebook profile, you must log out of Facebook before visiting our website. You
        canalso
        object to the future download of Facebook plugins and thus the data processingdescribed above using add-ons
        for
        your
        browser, such as the "NoScript" script blocker(http://noscript.net/).For the purpose and scope of data
        collection
        and further processing and use of thedata by Facebook, as well as your rights in this regard and setting
        options
        to
        protect yourprivacy, please read Facebook's privacy policy:https://www.facebook.com/policy.php
      </p>
      <p class="marker">
        Instagram as a standard plugin
      </p>
      <p>
        Our website uses so-called social plugins ("plugins") of the Instagram internet serviceoperated by Facebook
        Ireland
        Ltd, 4 Grand Canal Square, Grand Canal Harbour, Dublin 2Ireland (Facebook). The plugins are marked with the
        Instagram logo, such as "Instagramcamera". An overview of Instagram plugins and their appearance can be found
        here:http://blog.instagram.com/post/36222022872/introducing-instagram-badges.When you open a page on our
        website
        containing such a plug-in, your browserestablishes a direct connection to Instagram's servers. The content of
        the
        plug-in istransmitted by Instagram directly to your browser and integrated into the page. Thanks tothis
        integration,
        Instagram receives the information that your browser has called up thecorresponding page of our site, even if
        you do
        not have an Instagram profile or are notcurrently logged into Instagram. This information (including your IP
        address) is transmittedby your browser directly to a Facebook Inc. server. in the USA and stored there.If you
        are
        logged into Instagram, Instagram may assign a visit to our site directly toyour Instagram account. If you
        interact
        with the plugins, for example by pressing the"Instagram camera" button, this information is also transmitted
        directly to the Instagramserver and stored there. The information is also published on your Instagram account
        anddisplayed there for your contacts. The data processing operations described are carried outin accordance
        with
        Art. 6 (1) l. f DSGVO on the basis of the legitimate interests of Instagramin displaying personalized ads to
        inform
        other users of the social network about your activityon our website and for the needs-oriented design of the
        Instagram service.If you do not want Instagram to directly assign the data collected through our site toyour
        Instagram account, you must log out of Instagram before visiting our site. You can alsoobject to the loading
        of
        Instagram plug-ins and thus the data processing described above inthe future with add-ons for your browser,
        such
        as
        the "NoScript" script blocker(http://noscript.net/).For the purpose of and within the scope of the collection
        and
        further processing anduse of data by Instagram, as well as your rights in this regard and the options for
        setting
        upthe protection of your privacy, please read the company's privacy policy.
        Instagram:https://help.instagram.com/155833707900388/.
      </p>
      <h2>
        13. USE OF SOCIAL NETWORKS: VIDEO
      </h2>
      <p>
        Using Youtube videosThis website uses the Youtube embed feature to display and play videos from theYoutube
        provider,
        owned by Google Ireland Limited, Gordon House, 4 Barrow St, Dublin, D04E5W5, Ireland ("Google").This uses
        advanced
        data protection mode, which, according to the provider, onlytriggers the storage of user information when
        playing
        video (s). If Youtube embedded videosstart playing, the Youtube provider uses cookies to collect information
        about
        user behavior.According to Youtube, they are used in particular to collect video statistics, improve
        usabilityand
        prevent abuse. If you're signed in to Google, clicking on the video will link your datadirectly to your
        account.
        If
        you do not want your data to be associated with your YouTubeprofile, you must log out before enabling the
        button.
        Google saves your data (even for non-logged in users) as usage profiles and evaluates them. Such an assessment
        is
        carried out, inparticular, in accordance with Art. 6 p. 1 l. f DSGVO on the basis of Google's
        legitimateinterests in
        personalized advertising, market research and/or needs-based design of itswebsite. You have the right to
        object
        to
        the creation of these user profiles and you mustcontact YouTube to exercise this right. The use of YouTube may
        also
        result in the transfer ofpersonal data to the servers of Google LLC. in the USA. Regardless of the playback of
        theembedded video, each time this website is called up, a connection to the Google network isestablished,
        which
        may
        lead to further data processing operations without our involvement.Further information on data protection on
        "YouTube" can be found in the provider'sdata protection declaration at:
        https://www.google.de/intl/de/policies/privacy.To the extent required by law, we have obtained your consent in
        accordance with Art.6 (1) lit. DSGVO to the processing of your data as described above. You can withdraw
        yourconsent
        at any time and for the future. To make a withdrawal, deactivate this service in the"Cookie Consent Tool"
        provided
        on the website.
      </p>
      <h2>
        14. ONLINE MARKETING
      </h2>
      <p class="marker">
        Facebook Pixel to create custom audiences (using the Cookie Consent Tool).
      </p>
      <p>
        Our online offer uses the so-called Facebook Pixel of the social network Facebook,operated by Facebook Ireland
        Limited, 4 Grand Canal Quare, Dublin 2, Ireland (Facebook).When a user clicks on an ad placed by us and played
        on
        Facebook, a Facebook Pixeladd-on is added to the URL of our linked page. If our site allows communication
        withFacebook through a Pixel, this URL parameter is stored in the user's browser via a cookie setby our linked
        site
        itself. This cookie is then read by the Facebook Pixel and allows the data tobe sent to Facebook. With the
        help
        of
        Facebook Pixel it is possible, on the one hand, todefine the visitors of our online offer as a target group
        for
        the
        display of advertisements (so-called "Facebook Ads"). Accordingly, we use the Facebook Pixel to display the
        Facebook
        adswe have placed only to those Facebook users who have also shown an interest in our onlineoffer or who have
        certain characteristics (such as interest in certain topics or products basedon the sites visited) that we we
        transfer to Facebook (the so-called "Custom Audiences").With the Facebook Pixel, we also want to make sure
        that
        our
        Facebook ads are relevant tothe potential interests of users and do not have a negative impact. This allows us
        to
        furtherevaluate the effectiveness of Facebook ads for statistical and market research purposes bytracking
        whether
        users were redirected to our site after clicking on a Facebook ad (a so-called "conversion").The data
        collected
        is
        anonymous to us, so we cannot draw any conclusions about theidentity of the user. However, the data is stored
        and
        processed by Facebook so that aconnection to the respective user profile is possible and Facebook can use the
        data
        for itsown advertising purposes, in accordance with the Facebook data
        policy(https://www.facebook.com/about/privacy
        /). This data may allow Facebook and its partnersto serve ads on and off Facebook. The processing of data
        related to
        the use of the FacebookPixel takes place only with your express consent in accordance with Art. 6 para. 1 l.
        GDPR.You can withdraw your consent at any time and for the future. To make a revocation, uncheck the box next
        to
        the
        "Facebook Pixel" setting in the "Cookie Consent Tool"integrated on the site.
      </p>
      <p class="marker">
        Google Adsense
      </p>
      <p>
        This website uses Google AdSense, a web advertising service of Google IrelandLimited, Gordon House, 4 Barrow
        St,
        Dublin, D04 E5W5, Ireland ("Google"). Google AdSenseuses so-called cookies, which are text files placed on
        your
        computer, to help the site analyzehow users use the site. In addition, Google AdSense also uses "web beacons"
        (small
        invisiblegraphics) to collect information through which simple actions such as visitor traffic to a sitecan be
        recorded, collected and evaluated. The information generated by the cookie and/orweb beacon (including your IP
        address) about your use of the website will be transmitted toand stored by Google servers in the USA. This may
        also
        result in the transfer of data to theservers of Google LLC. in the USA.Google uses the information obtained in
        this
        way to evaluate your behavior when usingAdSense ads. The IP address transmitted by your browser as part of
        Google
        AdSense will notbe merged with other data Google. The information collected by Google may be transferredto
        third
        parties where required by law and/or where third parties process the data onGoogle's behalf.The described data
        processing is carried out in accordance with Art. 6 (1) p. 1 l. fDSGVO for the purpose of targeting the user
        by
        advertising third parties whose ads aredisplayed on this website based on the user's measured behavior. This
        processing alsoserves our financial interest in exploiting the economic potential of our site by
        displayingthird
        party personalized advertising content in exchange for payment. Further informationon Google's data protection
        policy can be obtained from the following web address:https://www.google.de/policies/privacy/.You can
        permanently
        disable advertising preference cookies by onfiguring yourbrowser software to prevent them, or you can download
        and
        install the browser pluginavailable at the following link: https://www.google.com/settings/ads/plugin?hlPlease
        note
        that some features of this website may not be available or limited if youdisable cookies.To the extent
        required
        by
        law, we have obtained your consent in accordance with Art.6 (1) lit. DSGVO to the processing of your data as
        set
        out
        above. You can withdraw yourconsent at any time and for the future. In order to make a withdrawal, please use
        the
        optiondescribed above to file an objection.
      </p>
      <p class="marker">
        Using Google Convert Ads Tracking
      </p>
      <p>
        This site uses the online advertising program "Google Ads" and, within Google Ads,tracks the conversion
        tracking
        of
        Google Ireland Limited, Gordon House, 4 Barrow St, Dublin,D04 E5W5, Ireland ("Google"). We use the offer of
        Google
        Ads to draw attention to ourattractive offers through advertising media (so-called Google Adwords) on external
        websites.We can determine how successful individual promotions are in relation to campaign data. Inthis way,
        our
        goal is to show ads that interest you, to make our site more interesting for youand to achieve a fair
        calculation of
        advertising costs.A conversion tracking cookie is set when a user clicks on an ad placed by Google.Cookies are
        small
        text files that are stored on your terminal device. These cookies usuallyexpire after 30 days and are not used
        for
        personal identification. If the user visits certainpages of this website and the cookie has not yet expired,
        Google
        and we can recognize thatthe user clicked on the ad and was redirected to this page. Each Google Ads client
        receivesa different cookie. Therefore, cookies cannot be tracked on the websites of Google Adsclients. The
        information collected by the conversion tracking cookie is used to generateconversion statistics for Google
        Ads
        customers who have opted for conversion tracking.Customers will know the total number of users who clicked on
        their
        ad and were redirectedto a page tagged with a conversion tracking tag. However, they do not receive
        informationthat
        personally identifies users. If you do not wish to participate in tracking, you can blockthis use by
        deactivating
        the Google conversion tracking cookie via your internet browserunder the keyword "user settings". In this
        case,
        you
        will not be included in the conversiontracking statistics. We use Google Ads on the basis of our legitimate
        interest
        in targetedadvertising in accordance with Art. 6 (1) l. f GDPR. The use of Google Ads may also result inthe
        transmission of personal data to the servers of Google LLC. in the USA.Further information on Google's data
        protection policy can be obtained from thefollowing web address: https://www.google/policies/privacy/
      </p>
      <h2>
        15. RETARGETING / REMARKETING / REFERRAL ADVERTISING
      </h2>
      <p>
        Google Ads RemarketingOur site uses the Google Ads Remarketing features, through which we advertise thissite
        in
        Google search results and on third-party sites. The provider is a company GoogleIreland Limited, Gordon House,
        4
        Barrow St, Dublin, D04 E5W5, Ireland ("Google"). To dothis, Google sets a cookie in the browser of your
        terminal
        device, which automaticallyenables interest-based advertising by means of a pseudonymous cookie identifier and
        basedon the pages you visit. The processing is based on our legitimate interest in the optimalmarketing of our
        website in accordance with Art. 6 p. 1 l.f DSGVO.Additional data processing will only take place if you
        consent
        to
        the linking of yourGoogle browsing history to your Google Account and to the use of information from
        yourGoogle
        Account to personalize the advertisements you view online. In this case, if they arelogged into Google while
        browsing our site, Google will use your data along with GoogleAnalytics data to create and define targeting
        lists
        for cross-device remarketing. To do this,Google temporarily associates your personal data with Google
        Analytics
        data
        in order toform target groups. As part of the use of Google Ads Remarketing, personal data may alsobe
        transferred to
        the servers of Google LLC. in the USA.You can permanently object to the setting of cookies by Google Ads
        Remarketing
        bydownloading and installing the Google Browser Plugin available at the following
        link:https://www.google.com/settings/ads/onweb/Additional information and privacy policy regarding advertising
        and
        Google can befound here:https://www.google.com/policies/technologies/ads/To the extent required by law, we
        have
        obtained your consent to process your data asdescribed above, in accordance with Art. 6 (1) lit. a GDPR. You
        can
        withdraw your consent atany time and for the future. To withdraw, deactivate this service in the "cookie
        consent
        tool"provided on the website, or use the option above to object.
      </p>
      <h2>
        16. USING THE LIVE CHAT SYSTEM
      </h2>
      <p>
        TidioChat (Tidio Ltd).This website uses technology provided by Tidio Ltd. 220C Blythe Road, W14 0HH, London,
        UK
        (www.tidiochat.com), to collect and store anonymous data for web analyticspurposes and to operate the live
        chat
        system used to respond to real-time support requests.Usage profiles can be created from this anonymized data
        under a
        pseudonym. Cookies canbe used for this purpose.Cookies - these are small text files that are stored locally in
        thecache of the website visitor's Internet browser. Cookies make it possible to recognize theInternet browser.
        If
        the information collected in this way has a personal reference, then theprocessing takes place in accordance
        with
        Art. 6 para. 1 l. f DSGVO on the basis of ourlegitimate interest in efficient customer service and statistical
        analysis of user behavior foroptimization purposes. The data collected using TidioChat technologies will not
        be
        used
        topersonally identify the visitor to this website without the separate consent of the personconcerned and will
        not
        be combined with personal data about the bearer of the pseudonym.To avoid the storage of cookies by TidioChat,
        you
        can set your Internet browser so that nocookies are stored on your computer in the future or cookies already
        stored
        are not deleted.
      </p>
      <h2>
        17. GOOGLE WEB FONTS
      </h2>
      <p class="marker">
        This website uses so-called web fonts provided by Google Ireland Limited, GordonHouse, 4 Barrow St, Dublin,
        D04
        E5W5, Ireland ("Google") for uniform display of fonts. Whenyou access a page, your browser loads the necessary
        web
        fonts into your browser's cache todisplay text and fonts correctly. This may also result in the transmission
        of
        personal data tothe servers of Google LLC. in the USA. In this way, Google receives the knowledge that
        ourwebsite
        was accessed via your IP address. Google Web Fonts are used in the interest of auniform and attractive
        presentation
        of our online offerings. This is of legitimate interestwithin the meaning of Art. 6 para. 1 lit. f GDPR. If
        your
        browser does not support web fonts,your computer will use the default font. For more information about Google
        Web
        Fonts,please visit https://developers.google.com/fonts/faq and Google's privacy
        policy:https://www.google.com/policies/privacy/.
      </p>
      <p class="marker">
        Google Customer Reviews (formerly Certified Agent Program).
      </p>
      <p>
        We work with Google through the "Google Customer Reviews" program. The provideris Google Ireland Limited,
        Gordon
        House, 4 Barrow St, Dublin, D04 E5W5, Ireland ("Google").This program enables us to collect customer feedback
        from
        users of our website. However,after you make a purchase on our site, you will be asked if you would like to
        take
        part in anemail survey conducted by Google. If you give your consent in accordance with Art. 6 (1) l.DSGVO, we
        will
        forward your e-mail address to Google. You will receive an email fromGoogle Customer Reviews asking you to
        rate
        your
        shopping experience on our site. Therating you provide will be combined with our other ratings and displayed
        in
        the
        GoogleCustomer Reviews logo and Merchant Center dashboard. In addition, your review will beused for Google
        Seller
        Reviews. In the context of the use of Google Customer Reviews,personal data may also be transferred to the
        servers
        of Google LLC. in the USA.You can withdraw your consent at any time by sending a message to the datacontroller
        or to
        Google.
      </p>
      <h2>
        18. RIGHTS OF THE DATA SUBJECT
      </h2>
      <p class="marker">
        The current data protection law grants you full data subject rights (rights ofaccess and intervention) against
        the
        controller in connection with the processing of yourpersonal data, as we inform you below:The right to
        information
        in accordance with Art. 15 DSGVO: In particular, you have theright to be informed about your personal data
        processed
        by us, the purposes of processing,the categories of personal data processed, the recipients or categories of
        recipients to whomyour data has been or will be transferred, the intended retention period or criteria
        fordetermining the retention period, the existence of a right to rectification, deletion, restrictionof
        processing,
        objection to processing, complaint to a supervisory authority, origin of yourdata if we have not collected
        them
        from
        you, the existence of automated decision-making,including profiling, and, where applicable, meaningful
        information
        about the logic and scopeand the intended consequences of such processing in relation to you, as well as your
        right
        to be informed about what guarantees exist pursuant to Art. 46 DSGVO when your data istransferred to third
        countries;Right to rectification in accordance with Art. 16 DSGVO: You have the right to haveinaccurate data
        concerning you corrected immediately and/or to have incomplete datastored by us completed; Right to deletion
        according to Art. 17 DSGVO: You have the right torequest the deletion of your personal data if the
        requirements
        of
        Art. 17 (1) GDPR. However,this right does not exist, in particular if the processing is necessary for the
        exercise
        of theright to freedom of expression and information, for the fulfillment of a legal obligation, forreasons of
        public interest or for the assertion, exercise or defense of legal claims; Right torestriction of processing
        in
        accordance with Art. 18 DSGVO: You have the right to requestthat the processing of your personal data be
        restricted
        as long as the accuracy of your datathat you dispute is verified; if you object to the deletion of your data
        on
        the
        grounds ofunlawful data processing and instead request the restriction of the processing of your data;if your
        data
        is necessary for the establishment, exercise or defense of legal claims after weno longer need this data after
        the
        purpose has been achieved; or if you filed an objection forreasons relevant to your particular situation until
        it
        has been determined whether our legalgrounds prevail;Right to information pursuant to Art. 19 DSGVO: In the
        event
        that you have reservedthe right to rectification, erasure or restriction of processing against the controller,
        thecontroller is obliged to inform all recipients to whom your personal data has been disclosedof the
        rectification
        or erasure of the data or the restriction processing, unless this provesimpossible or would require a
        disproportionate effort. You have the right to be informedabout these recipients.Right to data portability in
        accordance with Art. 20 DSGVO: You have the right toreceive your personal data that you have provided to us in
        a
        structured, common andmachine-readable format, or to request that they be transferred to another controller,
        if
        thisis technically possible; The right to revoke the consent granted pursuant to Art. 7 (3)DSGVO: You have the
        right
        to revoke your consent to data processing once granted at anytime and for the future. In the event of a
        revocation,
        we will immediately delete the relevantdata, unless further processing can be based on a legal basis for
        processing
        withoutconsent. The withdrawal of consent does not affect the legality of the consent-based processuntil the
        time of
        withdrawal; Right to lodge a complaint pursuant to Art. 77 DSGVO: If youconsider that the processing of
        personal
        data concerning you is in breach of the DSGVO, youhave the right - without prejudice to other administrative
        or
        judicial remedies - to lodge acomplaint with a supervisory authority, in particular in the country of your
        place
        ofresidence, place of work or place of the alleged violation.
      </p>
      <p class="marker">
        Right to Objection
      </p>
      <p>
        If we process your personal data for an interest consideration on the basis of our previously legitimate
        interest,
        you have the right to object to such processing for reasons arising from your particular situation, at any
        time
        in
        the future. If you exercise your right to object, we will stop processing the related data. Nevertheless, we
        reserve
        the right to continue processing if we can demonstrate good legal grounds for processing, which prevail over
        your
        interests, basic rights and freedoms, or if processing is intended for the presentation, implementation or
        protection of legal claims. If we process your personal data for direct marketing purposes, you have the right
        to
        object the processing of your personal data for such marketing purposes at any time. You may exercise the
        right
        of
        objection as described above. If you exercise your right to object, we will stop processing the related data
        for
        direct marketing purposes.
      </p>
      <h2>
        19. PERIOD OF STORAGE OF PERSONAL DATA
      </h2>
      <p>
        The duration of the storage of personal data is measured on the basis of the relevantlegal basis, the purpose
        of
        the
        processing and - if necessary - additionally on the basis of therelevant statutory retention period (eg
        retention
        period under commercial and tax law). Incase of processing of personal data on the basis of explicit consent
        in
        accordance with Art. 6(1) DSGVO, these data are stored until the data subject withdraws their consent.
      </p>
      <p>
        If there are statutory retention periods for data that are processed within theframework of legal or
        quasi-legal
        obligations based on Art. 6 para. 1 b) DSGVO, this data willbe routinely deleted after the expiry of the
        retention
        periods, provided that it is no longerrequired for the performance of the contract or to initiate the contract
        and/or there is nolegitimate interest on our part to continue storing it. When processing personal data on
        thebasis
        of Art. 6(1)(f) GDPR, these data are stored until the data subject exercises his right toobject in accordance
        with
        Art. 21(1) DSGVO, unless we can demonstrate compellinglegitimate grounds for the processing that override the
        interests, rights and freedoms of thedata subject or the processing serves to establish, exercise or defend
        legal
        claims. Whenprocessing personal data for direct marketing purposes pursuant to Art. 6 (1) f) DSGVO,these data
        will
        be stored until the data subject exercises his right to object in accordancewith Art. 21 (2) DSGVO.Unless
        otherwise
        stated in other information in this statement on specific processingsituations, stored personal data will be
        deleted
        when they are no longer needed for thepurposes for which they were collected or otherwise processed.li </p>
    </div>
  </div>

</main>

{% endblock %}
