{% set body_class = "resources-page" %} {% extends "./_layout.html" %} {% block
content %}

<main class="resources-page">
  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/">Home</a>
      </li>
      <li class="pagination__item">
        <a href="">resources</a>
      </li>
    </ul>
  </div>
  <section class="resources">
    <div class="resources__container">
      <div class="resources__header">
        <h1 class="primary">Eyelash glue does not working?</h1>
        <h1 class="primary">What to do?</h1>
      </div>
      <img
        src="./images/advice-page/advice.jpg"
        alt="resources image"
        class="resources__image"
      />
      <p class="resources__description">
        The Onrial company is about modernity, fashion and trends.
      </p>
      <p class="resources__description">
        If you are in love with your business, just like us, follow the latest
        trends, love to be creative, actively maintain your pages in social
        networks, then this offer is for you.
      </p>
    </div>
  </section>
  <section class="resources-list">
    <div class="resources-list__container">
      <p class="resources-list__title">BASIC RULES</p>
      <div class="resources-list__inner">
        <ul class="resources-list__list">
          <li class="resources-list__item">
            shake the glue well before applying a drop
          </li>
          <li class="resources-list__item">
            wipe the nozzle of the glue and close it tightly with a lid
          </li>
          <li class="resources-list__item">
            ensure optimal temperature and humidity in the
          </li>
          <li class="resources-list__item">working area (20-24 °C/ 40-60%)</li>
          <li class="resources-list__item">
            store the glue in a place protected from direct sunlight and
          </li>
          <li class="resources-list__item">high temperatures</li>
          <li class="resources-list__item">
            choose the right glue speed for yourself
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="resources-tips">
    <div class="resources-tips__container">
      <p class="resources-tips__title">THE DROP EXTENDS</p>
    </div>
    <ul class="resources-tips__list">
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">REASON</p>
          <p class="resources-tips__solve">HOW TO SOLVE THE problem</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            The drop did not change for more than 25 minutes
          </p>
          <p class="resources-tips__solve">Refresh the droplet</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            The glue is open for more than 3-4 weeks
          </p>
          <p class="resources-tips__solve">
            Replace the glue with a fresh one. After opening, the shelf life of
            the glue is 1-2 months and depends on the intensity of use, storage
            temperature and season
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            There is high humidity near the drop of glue
          </p>
          <p class="resources-tips__solve">
            Eliminate the cause of high humidity (the cause may be a damp cotton
            pad lying nearby, a cup of tea, etc.) Provide optimal humidity in
            the work area
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            The glue was not shaken before use
          </p>
          <p class="resources-tips__solve">Shake well before use</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            The cap on the tube was not closed well enough, the glue was stored
            incorrectly
          </p>
          <p class="resources-tips__solve">
            Replace the glue with fresh glue and follow the recommendations for
            storing the glue
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            The glue is taken from the bottom of the working drop
          </p>
          <p class="resources-tips__solve">
            Practice the technique of working with a drop
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            There is a large flow of air in your work area (draft, air
            conditioner)
          </p>
          <p class="resources-tips__solve">
            Use a booster from the Onrial company and your drop will not thicken
          </p>
        </div>
      </li>
    </ul>
    <div class="resources-tips__container">
      <p class="resources-tips__title">BUNDLES COLLAPSE</p>
    </div>
    <ul class="resources-tips__list">
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">REASON</p>
          <p class="resources-tips__solve">HOW TO SOLVE THE problem</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            Incorrectly selected glue speed, slow glue corrodes
          </p>
          <p class="resources-tips__solve">
            Replace the glue witha faster one, treat the eyelashes with a
            primer, use a booster
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            A large amount of glue on the bundle
          </p>
          <p class="resources-tips__solve">
            Do not immerse the leg very deeply in the drop, and do not quickly
            remove it from the drop
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            The humidity in the room has decreased
          </p>
          <p class="resources-tips__solve">
            Make a longer expoSure wne attaching an artificial eyelash to a
            natural eyelash, use a humidifier
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">Incompatibility of materials</p>
          <p class="resources-tips__solve">
            Whenever possible, use materials of the same brand
          </p>
        </div>
      </li>
    </ul>
    <div class="resources-tips__container">
      <p class="resources-tips__title">POOR WEARABILITY</p>
    </div>
    <ul class="resources-tips__list">
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">REASON</p>
          <p class="resources-tips__solve">HOW TO SOLVE THE problem</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            The master cant keep up with the glue
          </p>
          <p class="resources-tips__solve">
            Use an adhesive with a lower setting speed
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            Poorly prepared eyelashes before extensions
          </p>
          <p class="resources-tips__solve">
            Follow the technology of the extension procedure, carry out
            high-quality cleaning of eyelashes before extension
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            When attaching an artificial eyelash to a natural eyelash, the
            master could not withstand the collision area
          </p>
          <p class="resources-tips__solve">
            Follow the building technology do not rush
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            Excess glue with artificial eyelashes was smeared
          </p>
          <p class="resources-tips__solve">Follow proper drop technique</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            Non-optimal temperature and humidity, impurities in the air
            (evaporation from wax melt for depilation, evaporation from ammonia
            paint)
          </p>
          <p class="resources-tips__solve">
            Monitor the temperature and humidity, do not carry out the procedure
            if the conditions are not optimal
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            A nebulizer was used, accelerated polymerization occurred
          </p>
          <p class="resources-tips__solve">
            Do not use glue polymerization enhancers, do not disrupt the natural
            hardening process
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            The client got caught in the rain after the procedure
          </p>
          <p class="resources-tips__solve">
            Warn the client about possible bad eyelash wear
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            Excessive alcohol consumption before or after the procedure,
            hormonal
          </p>
          <p class="resources-tips__solve">
            Warn the client about possible bad eyelash wear
          </p>
        </div>
      </li>
    </ul>
    <div class="resources-tips__container">
      <p class="resources-tips__title">FAST DRYING GLUE</p>
    </div>
    <ul class="resources-tips__list">
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">REASON</p>
          <p class="resources-tips__solve">HOW TO SOLVE THE problem</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">It is very hot indoors</p>
          <p class="resources-tips__solve">Create optimal conditions</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            A very small drop of glue is used
          </p>
          <p class="resources-tips__solve">
            Follow the technique of working with a drop
          </p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">High humidity indoors</p>
          <p class="resources-tips__solve">Create optimal conditions</p>
        </div>
      </li>
    </ul>
    <div class="resources-tips__container">
      <p class="resources-tips__title">THE GLUE STOPPED WORKING</p>
    </div>
    <ul class="resources-tips__list">
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">REASON</p>
          <p class="resources-tips__solve">HOW TO SOLVE THE problem</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            Change in temperature or humidity in the room
          </p>
          <p class="resources-tips__solve">Monitor the optimal temperature</p>
        </div>
      </li>
      <li class="resources-tips__item">
        <div class="resources-tips__container">
          <p class="resources-tips__reason">
            There is not enough oxygen in the room
          </p>
          <p class="resources-tips__solve">Ventilate the room</p>
        </div>
      </li>
    </ul>
  </section>
  <section class="resources-list">
    <div class="resources-list__container">
      <p class="resources-list__title">A FEW MORE TIPS</p>
      <div class="resources-list__inner">
        <ul class="resources-list__list">
          <li class="resources-list__item">
            Keep in your arsenal several types of glue with different adhesion
            speeds, in case of problems with the main glue, you can finish the
            procedure by using an alternative
          </li>
          <li class="resources-list__item">
            Pay attention to the extension technique often, it primarily affects
            the term of eyelash wear
          </li>
          <li class="resources-list__item">
            After opening, change the glue at least once every 2 months, even if
            it has not been used much
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="resources-catalog-slider">
    <div class="resources-catalog-slider__slider-container">
      <p class="resources-catalog-slider__title">
        Use quality professional products see our glues catalog
      </p>
      <div class="swiper-button-prev swiper-about-button-prev"></div>
      <div class="swiper-button-next swiper-about-button-next"></div>
      <div
        class="resources-catalog-slider__slider swiper js_bestsellers-slider"
      >
        <ul class="resources-catalog-slider__list swiper-wrapper">
          <li class="resources-catalog-slider__item card swiper-slide">
            <div class="card__header">
              <svg
                class="card__icon_like"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>

            <img
              src="./images/main/bestsellers/goods_1.jpg"
              alt="card image"
              class="card__image"
            />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg
                class="card__icon_bag"
                fill="none"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </li>
          <li class="resources-catalog-slider__item card swiper-slide">
            <div class="card__header">
              <svg
                class="card__icon_like"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>

            <img
              src="./images/main/bestsellers/goods_1.jpg"
              alt="card image"
              class="card__image"
            />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg
                class="card__icon_bag"
                fill="none"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </li>
          <li class="resources-catalog-slider__item card swiper-slide">
            <div class="card__header">
              <svg
                class="card__icon_like"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>

            <img
              src="./images/main/bestsellers/goods_1.jpg"
              alt="card image"
              class="card__image"
            />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg
                class="card__icon_bag"
                fill="none"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </li>
          <li class="resources-catalog-slider__item card swiper-slide">
            <div class="card__header">
              <svg
                class="card__icon_like"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>

            <img
              src="./images/main/bestsellers/goods_1.jpg"
              alt="card image"
              class="card__image"
            />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg
                class="card__icon_bag"
                fill="none"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </li>
          <li class="resources-catalog-slider__item card swiper-slide">
            <div class="card__header">
              <svg
                class="card__icon_like"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M11.72 3.2C6.131 3.2 1.6 7.79 1.6 13.454 1.6 23.71 13.56 33.031 20 35.2c6.44-2.169 18.4-11.49 18.4-21.746C38.4 7.791 33.87 3.2 28.28 3.2c-3.422 0-6.45 1.722-8.28 4.357a10.15 10.15 0 0 0-3.614-3.204A10.001 10.001 0 0 0 11.72 3.2Z"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>

            <img
              src="./images/main/bestsellers/goods_1.jpg"
              alt="card image"
              class="card__image"
            />
            <div class="card__description">
              <div class="card__name-wrapper">
                <p class="card__name">Black Lashes mix</p>
              </div>
              <p class="card__specs">mix B 0.07 6-13mm</p>
            </div>
            <div class="card__footer">
              <div class="card__footer-price">
                <span>$</span>
                <p class="card__price">1221</p>
              </div>
              <svg
                class="card__icon_bag"
                fill="none"
                viewBox="0 0 40 40"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.754 14.453a3.84 3.84 0 0 1 3.829-3.533h23.151a3.84 3.84 0 0 1 3.828 3.533l1.542 19.2a3.839 3.839 0 0 1-3.826 4.147H7.038a3.841 3.841 0 0 1-3.826-4.147l1.542-19.2v0Z"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M27.837 17V8.68a7.68 7.68 0 1 0-15.36 0V17"
                  stroke-width="1.92"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </li>
        </ul>
        <!-- <div class="swiper-scrollbar about-swiper-scrollbar"></div> -->
      </div>
    </div>
  </section>
  <section class="resources-download">
    <a href="" class="resources-download__link">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" fill="none">
        <path
          d="M27.587 26.01h5.725l-8.452 8.433v-5.705a2.737 2.737 0 0 1 2.727-2.728ZM33.85 4.63v19.46h-6.263a4.652 4.652 0 0 0-4.648 4.648V35H6.629A4.632 4.632 0 0 1 2 30.37V4.63A4.631 4.631 0 0 1 6.63 0h22.59a4.632 4.632 0 0 1 4.63 4.63ZM13.469 15.79a2.672 2.672 0 0 0-2.69-2.689H8.205a.96.96 0 0 0-.96.96v6.878a.96.96 0 0 0 .96.96.976.976 0 0 0 .96-.96V18.46h1.614a2.69 2.69 0 0 0 2.69-2.67Zm7.569-.019a2.665 2.665 0 0 0-2.67-2.67h-2.594a.96.96 0 0 0-.96.96v6.878a.96.96 0 0 0 .96.96h2.593a2.665 2.665 0 0 0 2.67-2.67v-3.458Zm7.626-1.71a.961.961 0 0 0-.96-.96H23.38a.96.96 0 0 0-.96.96v6.878a.96.96 0 0 0 1.92 0V18.46h2.229a.96.96 0 1 0 0-1.92H24.34v-1.518h3.362a.976.976 0 0 0 .96-.96Zm-17.884.96-1.614.001v1.518h1.614a.768.768 0 0 0 .768-.75.748.748 0 0 0-.768-.768Zm7.588 0h-1.633v4.957h1.633c.409-.01.739-.34.748-.749v-3.458a.768.768 0 0 0-.748-.749Z"
        />
      </svg>
      <p class="resources-download__title">Download chek-list</p>
    </a>
    <a href="" class="resources-download__link">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 35" fill="none">
        <path
          d="M27.587 26.01h5.725l-8.452 8.433v-5.705a2.737 2.737 0 0 1 2.727-2.728ZM33.85 4.63v19.46h-6.263a4.652 4.652 0 0 0-4.648 4.648V35H6.629A4.632 4.632 0 0 1 2 30.37V4.63A4.631 4.631 0 0 1 6.63 0h22.59a4.632 4.632 0 0 1 4.63 4.63ZM13.469 15.79a2.672 2.672 0 0 0-2.69-2.689H8.205a.96.96 0 0 0-.96.96v6.878a.96.96 0 0 0 .96.96.976.976 0 0 0 .96-.96V18.46h1.614a2.69 2.69 0 0 0 2.69-2.67Zm7.569-.019a2.665 2.665 0 0 0-2.67-2.67h-2.594a.96.96 0 0 0-.96.96v6.878a.96.96 0 0 0 .96.96h2.593a2.665 2.665 0 0 0 2.67-2.67v-3.458Zm7.626-1.71a.961.961 0 0 0-.96-.96H23.38a.96.96 0 0 0-.96.96v6.878a.96.96 0 0 0 1.92 0V18.46h2.229a.96.96 0 1 0 0-1.92H24.34v-1.518h3.362a.976.976 0 0 0 .96-.96Zm-17.884.96-1.614.001v1.518h1.614a.768.768 0 0 0 .768-.75.748.748 0 0 0-.768-.768Zm7.588 0h-1.633v4.957h1.633c.409-.01.739-.34.748-.749v-3.458a.768.768 0 0 0-.748-.749Z"
        />
      </svg>
      <p class="resources-download__title">Download chek-list</p>
    </a>
  </section>
</main>

{% endblock %}
