{% set body_class = "returns-page" %} {% extends "./_layout.html" %} {% block
content %}

<main class="returns-page">
  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <a href="/">Home</a>
      </li>
      <li class="pagination__item">
        <a href="">Returns</a>
      </li>
    </ul>
  </div>
  <section class="returns">
    <div class="returns__container">
      <h1 class="primary">Returns</h1>
      <img
        src="./images/returns-page/returns_1.jpg"
        alt="returns image"
        class="returns__image"
      />
      <p class="returns__title">Our policy lasts 14 days.</p>

      <p class="returns__description">
        If 14 days have gone by since your purchase, unfortunately, we can’t
        offer you a refund or exchange.I ordered wrong products. What do I do?If
        you found out you ordered the wrong product BEFORE your order is
        shipped, you can write us to help@onrial.com and our managers will do a
        replacement.However, once the goods have been shipped already, it's not
        possible to change your order from our end. Please contact our team at
        hepl@onrial.com once you receive the package so you can arrange return
        delivery immediately. If products ordered in error, return to us
        unopened, unused, in perfect condition and within 30 days of the
        original delivery, we may be able to refund your unwanted
        product.However, please note that the delivery charge will abide by you.
      </p>
      <p class="returns__title">I received a wrong product.</p>
      <p class="returns__description">
        If you receive the wrong products, please contact us help@onrial.com
        within 14 days after the products are delivered to you. We will send you
        the replacement (your original order) ASAP at our cost.
      </p>
      <p class="returns__title">I received a wrong product.</p>
      <p class="returns__description">
        You will be responsible for the shipping and handling costs of returning
        the products to us unless it was the wrong or defected product
        delivered. Any item found not to be damaged or defective will not be
        subject of return or exchange in credit.
      </p>
    </div>
  </section>
  <section class="returns">
    <div class="returns__container">
      <h1 class="primary">Refunds</h1>
      <img
        src="./images/returns-page/returns_2.jpg"
        alt="returns image"
        class="returns__image"
      />
      <p class="returns__description">
        Once your return is received and inspected, we will send you an email to
        notify you that we have received your returned item. We will also notify
        you of the approval or rejection of your refund. If you are approved,
        then your refund will be processed, and a credit will automatically be
        applied to your credit card or original method of payment, within a
        certain amount of days.
      </p>
      <p class="returns__description">
        Late or missing refunds: If you haven’t received a refund yet, first
        check your bank account again. Then contact your credit card company, it
        may take some time before your refund is officially posted. Next contact
        your bank. There is often some processing time before a refund is
        posted. If you’ve done all of this and you still have not received your
        refund yet, please contact us at help@onrial.com
      </p>
    </div>
  </section>
  <section class="returns">
    <div class="returns__container">
      <h1 class="primary">Exchanges</h1>
      <img
        src="./images/returns-page/returns_3.jpg"
        alt="returns image"
        class="returns__image"
      />
      <p class="returns__description">
        If you have received your order and found that the product does not meet
        the declared quality, please contact us by mail hepl@onrial.com. In this
        case, you will need to send a defective product to our quality control
        department. Please note that this shipping will be at your expense. We
        will contact you as soon as we receive and inspect the item. If the
        product does not meet the quality, we will definitely offer you a
        replacement and compensate for the cost of delivery.
      </p>
      <p class="returns__description">
        Unfortunately, our company is not responsible if the cargo was damaged
        during transportation. Always inspect the package upon receipt. If the
        package is lost or damaged in transit and the damage is visible
        externally, write it down on the bill of lading or on the transfer
        documents upon receipt of the package.
      </p>
    </div>
  </section>
</main>

{% endblock %}
