<footer class="footer">
  <div class="footer-centered">
    <div class="footer-left">
      <a href="/" class="footer-logo">
        <img src="/images/footer/logo.svg" alt="i">
      </a>
      <div class="footer-catalog-menu">
        <a href="/" class="footer-catalog-menu-heading-link">
          catalog
        </a>
        <a href="/" class="footer-catalog-menu-link">
          Eyelashes
        </a>
        <a href="/" class="footer-catalog-menu-link">
          Tweethers
        </a>
        <a href="/" class="footer-catalog-menu-link">
          Glues
        </a>
        <a href="/" class="footer-catalog-menu-link">
          Eyelash preparation and care
        </a>
        <a href="/" class="footer-catalog-menu-link">
          Eyelash perming material
        </a>
        <a href="/" class="footer-catalog-menu-link">
          Accessories
        </a>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-right-menu">
        <a href="/" class="footer-right-menu-item">
          About us
        </a>
        <a href="/" class="footer-right-menu-item">
          our school
        </a>
        <a href="/" class="footer-right-menu-item">
          shipping
        </a>
        <a href="/" class="footer-right-menu-item">
          returns and refunds
        </a>
      </div>
      <div class="footer-right-contacts">
        <div class="footer-right-contacts-title">
          contacts
        </div>
        <div class="footer-right-contacts-social">
          <a href="/" class="footer-right-contacts-social-item">
            <img src="/images/facebook2.svg" alt="i">
          </a>
          <a href="/" class="footer-right-contacts-social-item">
            <img src="/images/insta2.svg" alt="i">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- <footer class="footer">
  <div class="container">
    <img src="./images/footer/logo.svg" alt="" class="footer__logo" />
    <div class="footer__container">
      <ul class="footer-social__list">
        <li class="footer-social__item">
          <a class="footer-social__link button_arrow" href="">instagram
            <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8L45 8" stroke="#424242" />
              <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
            </svg>
            <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9L24.887 9" stroke="#424242" />
              <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
            </svg>
          </a>
        </li>
        <li class="footer-social__item">
          <a class="footer-social__link button_arrow" href="">facebook
            <svg class="button_arrow__icon" width="46" height="16" viewBox="0 0 46 16" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 8L45 8" stroke="#424242" />
              <path d="M35.8856 0.5L44.9995 6.81579V9.18421L35.8856 15.5" stroke="#424242" />
            </svg>
            <svg class="button_arrow__icon-mobile" width="26" height="18" viewBox="0 0 26 18" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9L24.887 9" stroke="#424242" />
              <path d="M16.0408 1L25.0001 7.73684V10.2632L16.0408 17" stroke="#424242" />
            </svg>
          </a>
        </li>
      </ul>
      <div class="footer__wrapper">
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a href="">About us</a>
          </li>
          <li class="footer-menu__item">
            <a href="">our school</a>
          </li>
          <li class="footer-menu__item">
            <a href="">shipping</a>
          </li>
          <li class="footer-menu__item">
            <a href="">contacts</a>
          </li>
          <li class="footer-menu__item">
            <a href="">returns and refunds</a>
          </li>
          <li class="footer-menu__item">
            <a href="/privacy.html">Privacy</a>
          </li>
        </ul>
        <ul class="footer-catalog__list">
          <li class="footer-catalog__item">
            <a href="">catalog</a>
          </li>
          <li class="footer-catalog__item">
            <a href="">Eyelashes</a>
          </li>
          <li class="footer-catalog__item">
            <a href="">Tweethers</a>
          </li>
          <li class="footer-catalog__item">
            <a href="">Glues</a>
          </li>
          <li class="footer-catalog__item">
            <a href="">Eyelash preparation and care</a>
          </li>
          <li class="footer-catalog__item">
            <a href="">Eyelash perming material</a>
          </li>
          <li class="footer-catalog__item">
            <a href="">Accessories</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer> -->
