<ul class="msm-social__list">
  <li class="msm-social__item">
    <a class="msm-social__link" href="/">
      <img
        src="./images/facebook.svg"
        alt="facebook logo"
        class="msm-social__logo"
      />
    </a>
  </li>
  <li class="msm-social__item">
    <a class="msm-social__link" href="/">
      <img
        src="./images/instagram.svg"
        alt="instagram logo"
        class="msm-social__logo"
      />
    </a>
  </li>
  <li class="msm-social__item">
    <a class="msm-social__link" href="/">
      <img
        src="./images/youtube.svg"
        alt="youtube logo"
        class="msm-social__logo"
      />
    </a>
  </li>
</ul>
