.password-recovery-page {
  width: 100%;
  .registration-form {
    margin-bottom: 120px;
    @include md {
      margin-bottom: 100px;
    }
    @include sm {
      margin-bottom: 80px;
    }
  }
}
.password-recovery-main {
  width: 100%;
  padding-top: 250px;
  @include md {
    padding-top: 230px;
  }
  @include sm {
    padding-top: 148px;
  }
}
