.returns {
  padding: 0 20px;
  margin-bottom: 120px;
  &__container {
    max-width: 1240px;
    margin: 0 auto;
    & > h1 {
      @include ff-ProximaNova-Regular;
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 30px;
    }
  }
  &__image {
    width: 100%;
    margin-bottom: 30px;
  }

  &__title {
    @include ff-ProximaNova-Light;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
    color: $primary;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &__description {
    @include ff-ProximaNova-Regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $primary;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    & + .returns__title {
      margin-top: 30px;
    }
  }

  @media (min-width: 666px) {
    padding: 0 30px;
    &__container {
      & > h1 {
        font-size: 50px;
        margin-bottom: 20px;
      }
    }
    &__image {
      margin-bottom: 60px;
    }
    &__title {
      font-size: 30px;
      margin-bottom: 20px;
    }
    &__description {
      font-size: 20px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      & + .returns__title {
        margin-top: 40px;
      }
    }
  }
  @media (min-width: 1200px) {
    padding: 0 100px;
    &__container {
      & > h1 {
        margin-bottom: 40px;
      }
    }
    &__description {
      & + .returns__title {
        margin-top: 50px;
      }
    }
    &__title {
      margin-bottom: 30px;
    }
  }
}
