$primary: #424242;
$secondary: #ffffff;
$grey: #8b8f92;
$third: #cb94d3;
$warning: #d1004b;

$background: #1d1d1d;
$background-secondary: #f0ddf2;
$background-third: #f7f7f7;

$button: #cb94d3;

$buttonMoreColor: #d8c4b6;
$hoverButtonMoreColor: #decabb;

$hover: #cb94d3;
